<!DOCTYPE html>
<html style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(0, 0, 0);">
    <head>
        <title></title>
    </head>
    <body>
        <div style="margin-bottom: 30px;">
            <h1 style="font-size: 36px; margin: 10px 0 5px 0; padding:0;">
                builtwith
                <span style="color: rgba(5, 150, 105, 1);">django</span>
            </h1>
            <p style="font-size: 12px; color: rgb(0, 0, 0); margin: 0 0 10px 0; padding:0;">
                Issue #2 // December 3rd, 2021 //
                <a href="\{{ WebVersionURL \ }}"
                   rel="noopener noreferrer"
                   style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 0, 0);"
                   target="_blank">
                    View in your browser
                </a>
            </p>
        </div>
        <div style="padding: 20px 30px; background-color: rgba(236, 253, 245, 1); margin-bottom: 15px;">
            <h2>News</h2>
            <hr>
            <div style="margin: 10px 0 5px 0; padding:0; font-size: 14px;">
                <p>
                    Lorem impus lorem impus lorem impus lorem impus lorem impus lorem.
                </p>
            </div>
        </div>
        <div style="padding: 20px 30px; background-color: rgba(236, 253, 245, 1); margin-bottom: 15px;">
            <h2>Projects</h2>
            <hr>
            {% for project in projects %}
                <div style="margin: 20px 0;">
                    <p style="margin: 10px 0 5px 0; padding:0; font-size: 14px;">
                        <a href="https://builtwithdjango.com{{ project.get_absolute_url }}"
                           rel="noopener noreferrer"
                           target="_blank">
                            {{ project.title }}
                        </a>
                        by
                        <a href="https://builtwithdjango.com{{ project.maker.get_absolute_url }}"
                           rel="noopener noreferrer"
                           target="_blank">
                            {{ project.maker.first_name }} {{ project.maker.last_name }}
                        </a>
                    </p>
                    <p style="margin: 0 0 10px 0; padding:0; font-size: 12px; color: rgba(55, 65, 81, 1);">
                        {{ project.short_description }}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div style="padding: 20px 30px; background-color: rgba(236, 253, 245, 1); margin-bottom: 15px;">
            <h2>Jobs</h2>
            <hr>
            {% for job in jobs %}
                <div style="margin: 20px 0;">
                    <p style="margin: 10px 0 5px 0; padding:0; font-size: 14px;">
                        <a href="https://builtwithdjango.com{{ job.get_absolute_url }}"
                           rel="noopener noreferrer"
                           target="_blank">
                            {{ job.title }} at {{ job.company.name }}
                        </a>
                    </p>
                    <p style="margin: 0 0 10px 0; padding:0; font-size: 12px; color: rgba(55, 65, 81, 1);">
                        ({{ job.location }})
                    </p>
                </div>
            {% endfor %}
        </div>
        <div style="padding: 20px 30px; background-color: rgba(236, 253, 245, 1); margin-bottom: 15px;">
            <h2>Podcast Episodes</h2>
            <hr>
            {% for episode in podcast_episodes %}
                <div style="margin: 20px 0;">
                    <p style="margin: 10px 0 5px 0; padding:0; font-size: 14px;">
                        <a href="https://builtwithdjango.com{{ episode.get_absolute_url }}"
                           rel="noopener noreferrer"
                           target="_blank">
                            {{ episode.title }}
                        </a>
                    </p>
                    <p style="margin: 0 0 10px 0; padding:0; font-size: 12px; color: rgba(55, 65, 81, 1);">
                        {{ episode.details }}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div style="padding: 20px 30px; background-color: rgba(236, 253, 245, 1); margin-bottom: 15px;">
            <h2>End Note</h2>
            <hr>
            <div style="margin: 10px 0 5px 0; padding:0; font-size: 14px;">
                <p>
                    If you stumble upon any cool Django projects please let me know.
                </p>
                <p>
                    If you enjoy this newsletter, it would mean a lot if you could spread the word around. People can subscribe to our newsletter at
                    <a href="https://builtwithdjango.com/newsletter/">
                        https://builtwithdjango.com/newsletter/
                    </a>
                    .
                </p>
                <p>
                    Thanks a ton in advance and have a wonderful weekend.
                </p>
            </div>
        </div>
        <p style="border-top: 1px solid #c6c6c6; color: #a9a9a9; margin-top: 50px; padding-top: 20px;font-size:13px; margin-bottom: 13px;">
            You received this email because you subscribed to our list. You can
            <a href="\{{ UnsubscribeURL \ }}" style="color:#a9a9a9;" target="_blank">
                unsubscribe
            </a>
            at any time.
        </p>
        <p style="color: #a9a9a9;margin-bottom: 13px;font-size:13px;">
            \{{ SenderInfoLine \ }}
        </p>
        <p style="color: #a9a9a9;margin-bottom: 13px;font-size:13px;">
            Powered by
            <a href="\{{ RewardsURL \ }}" style="color:#a9a9a9;" target="_blank">
                EmailOctopus
            </a>
            .
        </body>
    </html>
