{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Built with Django</title>
    <meta name="description" content="Collection of cool projects people built with Django" />
    <link rel="canonical" href="https://{{ request.get_host }}/projects/" />
    <meta property="og:title" content="Built with Django" />
    <meta property="og:url" content="https://{{ request.get_host }}/projects/" />
    <meta property="og:description" content="Collection of cool projects people built with Django" />
    <meta name="og:image" content="{% static 'images/logo.png' %}" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@rasulkireev" />
    <meta name="twitter:title" content="Built with Django" />
    <meta name="twitter:description" content="Collection of cool projects people built with Django" />
    <meta name="twitter:image" content="{% static 'images/logo.png' %}" />
{% endblock %}
{% block content %}
    <div class="my-4 overflow-hidden bg-white rounded-lg shadow">
        <div class="px-4 py-5 sm:p-6">
            <p class="text-3xl font-semibold text-gray-800">
                Django Case Studies
            </p>
            <p class="mb-5 text-2xl text-gray-600">
                Get successful Django project interviews every week.
            </p>
            <form class="flex flex-row items-center"
                  action="{% url 'newsletter_home' %}"
                  method="post"
                  enctype="multipart/form-data">
                {% csrf_token %} {{ newsletter_form.non_field_errors }}
                <div class="flex flex-row items-center">
                    <div class="flex flex-col">
                        <div class="flex flex-row item-center">
                            <span class="rounded-l-lg">{{ newsletter_form.user_email }}</span>
                            <button class="px-4 py-2 font-bold text-white bg-green-700 rounded-r-lg shadow hover:bg-green-300"
                                    type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <p class="inline-block p-2 text-green-700 bg-green-200 border border-green-700 border-solid rounded ">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        <div class="flex justify-start mb-4 sm:mb-0">
            <a type="button"
               href="{% url 'submit_project' %}"
               class="inline-flex items-center px-4 py-2 mb-4 text-base font-medium text-green-700 bg-green-200 border border-transparent border-solid rounded-md hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                Submit a Project
            </a>
        </div>
        <div class="grid grid-cols-1 gap-6 mb-10 lg:grid-cols-3 md:grid-cols-2">
            {% for site in object_list %}
                <div class="flex flex-col justify-start bg-white border-solid rounded shadow border-1">
                    <div class="border-b border-gray-300 border-solid rounded-t-lg">
                        <a class="" href="{% url 'project' site.slug %}">
                            <img class="object-cover object-left-top w-full h-auto border-0 rounded-t "
                                 src="{% get_media_prefix %}{{ site.homepage_screenshot }}"
                                 alt="{{ site.title }} | Screenshot"/>
                        </a>
                    </div>
                    <div class="flex-auto h-full p-4 border-b border-gray-300 border-solid">
                        <h2 class="mb-2 text-lg font-semibold text-gray-900">
                            <a href="{% url 'project' site.slug %}">{{ site.title }}</a>
                        </h2>
                        <p class="text-sm leading-normal text-grey-700">
                            {{ site.short_description }}
                        </p>
                    </div>
                    <div class="flex items-center justify-between px-4 py-2">
                        <div>
                            <a class="inline-block bg-gray-200 rounded-full hover:border hover:border-solid hover:border-gray-700 hover:bg-gray-400"
                               href="{{ site.url }}?ref={{ request.get_host }}"
                               target="_blank">
                                <i class="p-2 las la-link">
                                </i
                                >
                            </a>
                            {% if site.github_url %}
                                <a class="inline-block bg-gray-200 rounded-full hover:border hover:border-solid hover:border-gray-700 hover:bg-gray-400"
                                   href="{{ site.github_url }}?ref={{ request.get_host }}"
                                   target="_blank">
                                    <i class="p-2 lab la-github">
                                    </i
                                    >
                                </a>
                            {% endif %}
                            {% if site.twitter_url %}
                                <a class="inline-block bg-gray-200 rounded-full hover:border hover:border-solid hover:border-gray-700 hover:bg-gray-400"
                                   href="{{ site.twitter_url }}?ref={{ request.get_host }}"
                                   target="_blank">
                                    <i class="p-2 lab la-twitter"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div>
                            <div class="inline-block p-1 border border-gray-300 border-solid rounded-full">
                                <span>{{ site.comments.all.count }}</span>
                                <i class="las la-comments"></i>
                            </div>
                            <div data-controller="like"
                                 class="inline-block p-1 border border-gray-300 border-solid rounded-full hover:border-gray-500 hover:bg-gray-100">
                                <input type="hidden" data-like-target="projectId" value={{ site.id }}>
                                <input type="hidden" data-like-target="currentUser" value={{ user.id }}>
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                    <button data-action="click->
                                        like#modify">
                                        <span data-target="like.numberOfLikes" id="{{ site.id }}_likes"></span>
                                        <i id="{{ site.id }}_heart" class=""></i>
                                    </button>
                                {% else %}
                                    <button data-action="click->
                                        like#toggleModal" data-like-target="modalButton">
                                        <span data-target="like.numberOfLikes" id="{{ site.id }}_likes"></span>
                                        <i id="{{ site.id }}_heart" class=""></i>
                                    </button>
                                    <div data-like-target="modal"
                                         class="fixed inset-0 z-10 hidden overflow-y-auto"
                                         aria-labelledby="modal-title"
                                         role="dialog"
                                         aria-modal="true">
                                        <div class="flex items-end justify-center px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                                            <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
                                                 aria-hidden="true"
                                                 data-transition-enter="ease-out duration-300"
                                                 data-transition-enter-start="opacity-0"
                                                 data-transition-enter-end="opacity-100"
                                                 data-transition-leave="ease-in duration-200"
                                                 data-transition-leave-start="opacity-100"
                                                 data-transition-leave-end="opacity-0"></div>
                                            <!-- This element is to trick the browser into centering the modal contents. -->
                                            <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
                                                  aria-hidden="true">
                                                &#8203;
                                            </span>
                                            <div class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                                                 data-transition-enter="ease-out duration-300"
                                                 data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                                 data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
                                                 data-transition-leave="ease-in duration-200"
                                                 data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
                                                 data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
                                                <div class="px-4 pt-5 pb-4 bg-white sm:p-6 sm:pb-4">
                                                    <div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
                                                        <button data-action="click->
                                                            like#toggleModal"
                                                            data-like-target="modalButton"
                                                            type="button"
                                                            class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                                            >
                                                            <span class="sr-only">Close</span>
                                                            <!-- Heroicon name: outline/x -->
                                                            <svg class="w-6 h-6"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 fill="none"
                                                                 viewBox="0 0 24 24"
                                                                 stroke="currentColor"
                                                                 aria-hidden="true">
                                                                <path stroke-linecap="round"
                                                                      stroke-linejoin="round"
                                                                      stroke-width="2"
                                                                      d="M6 18L18 6M6 6l12 12"/>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="sm:flex sm:items-start">
                                                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                                            <h3 class="text-lg font-medium leading-6 text-gray-900"
                                                                id="modal-title">
                                                                Please login
                                                            </h3>
                                                            <div class="mt-2">
                                                                <p class="text-sm text-gray-500">
                                                                    In order to ❤️ projects you need to
                                                                    <a class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800"
                                                                       href="{% url 'account_login' %}">
                                                                        login
                                                                    </a>
                                                                    or
                                                                    <a href="{% url 'account_signup' %}"
                                                                       class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-200 text-green-800">
                                                                        signup
                                                                    </a>
                                                                    if you don't have an account yet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="px-4 py-3 bg-gray-50 sm:px-6 sm:flex sm:flex-row-reverse">
                                                    <a href="{% url 'account_login' %}"
                                                       class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                                                        Login
                                                    </a>
                                                    <button data-action="click->
                                                        like#toggleModal"
                                                        data-like-target="modalButton"
                                                        type="button"
                                                        class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            {% if site.maker.first_name or site.maker.last_name %}
                                <a href="{{ site.maker.get_absolute_url }}"
                                   class="text-sm font-semibold text-gray-700 hover:underline hover:text-gray-900">
                                    by
                                    {% if site.maker.first_name %}{{ site.maker.first_name }}{% endif %}
                                    {% if site.maker.last_name %}{{ site.maker.last_name }}{% endif %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block schema %}
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Projects Built with Django",
    "description": "Collection of cool projects people built with Django",
    "thumbnailUrl": "{% static 'images/logo.png' %}",
    "url": "https://{{ request.get_host }}/",
    "author": {
      "@type": "Person",
      "givenName": "Rasul",
      "familyName": "Kireev",
      "url": "https://rasulkireev.com/"
    }
  }
    </script>
{% endblock schema %}
