{% extends "base.html" %}

{% load markdown_extras %}

{% block content %}

<turbo-frame id="list_project_comments">

  <ul class="divide-y divide-gray-200">
    {% for comment in object.comments.all %}
        <li class="flex items-start px-6 py-4">
            {% if comment.author.profile_image %}
                <img class="w-10 h-10 mt-2 rounded-full"
                     src="https://res.cloudinary.com/built-with-django/{{ comment.author.profile_image }}"
                     alt="{{ comment.author.username }}" />
            {% else %}
                <img class="w-10 h-10 mt-2 rounded-full"
                     src="https://avatars.dicebear.com/api/gridy/{{ comment.author.username }}.svg"
                     alt="" />
            {% endif %}
            <div class="ml-3">
                <p class="font-medium">
                    <span class="text-sm text-gray-900">{{ comment.author }}</span>
                    {% if object.maker.user == comment.author %}
                        <span>⭐</span>
                    {% endif %}
                    -
                    <span class="text-sm text-gray-600">{{ comment.created_date|timesince }} ago</span>
                </p>
                <div class="prose">
                    {{ comment | markdown | safe }}
                </div>
            </div>
        </li>
    {% endfor %}
  </ul>

</turbo-frame>

{% endblock content %}
