{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block meta %}
    <meta name="twitter:card" content="summary_large_image" />
    {% if object.maker.twitter_handle %}
        <meta name="twitter:creator" content="@{{ object.maker.twitter_handle }}" />
        <meta name="twitter:site" content="@{{ object.maker.twitter_handle }}" />
    {% endif %}
    <title>{{ object.title }} is Built with Django</title>
    <meta name="description" content="{{ object.short_description }}" />
    <link rel="canonical" href="https://{{ request.get_host }}/projects/{{ object.slug }}" />
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:url" content="https://{{ request.get_host }}/projects/{{ object.slug }}" />
    <meta property="og:description" content="{{ object.short_description }}" />
    <meta property="og:image" content="https://osig.app/g?style=base&site=facebook&font=markerfelt&title={{ object.title }}&subtitle={{ object.short_description }}&eyebrow=Project&image_url={{ object.homepage_screenshot.url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@builtwithdjango" />
    <meta name="twitter:title" content="{{ object.title }}" />
    <meta name="twitter:description" content="{{ object.description }}" />
    <meta property="og:image" content="https://osig.app/g?style=base&site=x&font=markerfelt&title={{ object.title }}&subtitle={{ object.short_description }}&eyebrow=Project&image_url={{ object.homepage_screenshot.url }}" />
{% endblock meta %}

{% block content %}
    <p class="mt-4 text-blue-700">
        ←
        <a href="{% url 'projects' %}">back to all projects</a>
    </p>

    <div class="px-6 py-2 bg-white lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ object.title }}</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 prose">{{ object.short_description }}</p>
      </div>
    </div>

    <div class="flex flex-col justify-center mx-auto my-10 space-y-2 max-w-5xl">
        {% if user == object.maker.user or user == object.logged_in_maker %}
            <div>
                <a href="{% url 'project_update' object.slug %}"
                   class="inline-flex items-center px-6 py-3 text-base font-medium text-white bg-green-600 rounded-md border border-transparent shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                    Edit Project
                </a>
            </div>
        {% endif %}

        <!-- Projects -->
        <div class="overflow-hidden p-6 bg-white rounded-lg shadow">
            <div class="overflow-hidden mb-2 bg-white rounded-lg divide-y divide-gray-200 shadow">
                <div>
                    <img class="w-full"
                         src="{% get_media_prefix %}{{ object.homepage_screenshot }}"
                         alt="{{ object.title }} | Screenshot" />
                </div>
            </div>
            <div class="flex flex-row mb-4 space-x-2 w-full text-center">
                <a class="inline-flex justify-center items-center px-4 py-3 w-full text-sm font-bold text-center text-white no-underline uppercase bg-green-500 rounded-lg shadow transition flex-no-shrink hover:bg-green-400 hover:-translateY-sm hover:shadow"
                   href='{{ object.url }}?ref={{ request.get_host }}&utm_source={{ request.get_host }}{{ request.path }}&utm_campaign=project-detail-{% now "F-Y" %}-{% if object.sponsored %}sponsored{% else %}unsponsored{% endif %}'
                   target="_blank">
                    Visit Website
                </a>
                {% if object.github_url %}
                    <a class="flex items-center bg-gray-100 rounded-lg hover:bg-gray-300"
                       href="{{ object.github_url }}?ref={{ request.get_host }}"
                       target="_blank">
                        <i class="p-2 text-3xl lab la-github"></i>
                    </a>
                {% endif %}
                {% if object.twitter_url %}
                    <a class="flex items-center bg-gray-100 rounded-lg hover:bg-gray-300"
                       href="{{ object.twitter_url }}?ref={{ request.get_host }}"
                       target="_blank">
                        <i class="p-2 text-3xl text-blue-400 lab la-twitter"></i>
                    </a>
                {% endif %}
                {% include "components/project-likes.html" with site=object %}
            </div>
            {% if object.description %}
                <div aria-hidden="true">
                    <h2 class="text-lg font-semibold md:text-2xl">
                        Full Description
                    </h2>
                    <div class="text-base prose-sm prose md:prose-lg md:text-lg">
                        {{ object.description | markdown | safe }}
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Author Card -->
        {% if object.maker.first_name %}
            <div class="overflow-hidden px-6 py-4 bg-white rounded-lg shadow">
                <a href="{{ object.maker.get_absolute_url }}" class="flex items-center">
                    <h2 class="text-2xl font-semibold text-black">
                        Author(s)
                    </h2>
                    <div class="flex items-center py-4">
                        {% if object.maker.maker_profile_image %}
                            <img class="w-16 h-16 rounded-full"
                                 src="{% get_media_prefix %}{{ object.maker.maker_profile_image }}"
                                 alt="" />
                        {% else %}
                            <!-- get image gray sillhoutte -->
                            <img class="w-10 h-10 rounded-full"
                                 src="https://avatars.dicebear.com/api/gridy/{{ object.maker.slug }}.svg"
                                 alt="" />
                        {% endif %}
                        {% if object.maker.first_name or object.maker.last_name %}
                            <div class="ml-3">
                                <p class="text-lg font-medium text-gray-900">
                                    {% if object.maker.first_name %}{{ object.maker.first_name }}{% endif %}
                                    {% if object.maker.last_name %}{{ object.maker.last_name }}{% endif %}
                                </p>
                                <div>
                                    {% if object.maker.github_handle %}
                                        <a class="inline-block rounded-full"
                                           href="https://github.com/{{ object.maker.github_handle }}?ref={{ request.get_host }}"
                                           target="_blank">
                                            <i class="text-2xl lab la-github"></i>
                                        </a>
                                    {% endif %}
                                    {% if object.maker.twitter_handle %}
                                        <a class="inline-block rounded-full"
                                           href="https://twitter.com/{{ object.maker.twitter_handle }}?ref={{ request.get_host }}"
                                           target="_blank">
                                            <i class="text-2xl lab la-twitter"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}

        <!-- Tech Stack Card-->
        {% if object.technologies.all %}
            <div class="overflow-hidden px-6 py-4 bg-white rounded-lg shadow">
                <h2 class="text-2xl font-semibold text-black">
                    TechStack
                </h2>
                <div class="flex flex-wrap items-center py-4 -m-1">
                    {% for tech in object.technologies.all %}
                        <div class="inline-flex items-center px-3 m-1 py-1 rounded-full text-md font-medium bg-{{ tech.color }}-100 text-{{ tech.color }}-800">
                            {{ tech.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if object.podcast_episodes.all %}
            <div class="overflow-hidden px-6 py-4 bg-white rounded-lg shadow">
                <h2 class="text-2xl font-semibold text-black">
                    Podcast Episodes
                </h2>
                {% for episode in object.podcast_episodes.all %}
                    <article class="flex flex-col justify-start mt-4 space-y-4 bg-white rounded border border-solid md:border-0 md:mt-2 md:flex-row">
                        <header class="rounded-t-lg border-b border-gray-300 border-solid md:border-0">
                            <a href="{% url 'episode_details' episode.slug %}">
                                <img class="object-cover object-left-top w-full h-auto rounded-t border-0"
                                     src="{% get_media_prefix %}{{ episode.thumbnail }}"
                                     alt="{{ episode.title }} | Screenshot"/>
                            </a>
                        </header>
                        <div class="flex-auto p-4 h-full">
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">
                                <a href="">{{ episode.title }}</a>
                            </h2>
                            <p class="text-sm leading-normal text-grey-700">
                                {{ episode.details }}
                            </p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Additional Info Card-->
        <div class="overflow-hidden px-6 py-4 bg-white rounded-lg shadow">
            {% if object.additional_info %}
            <div class="prose">
                <h2>Additional Info</h2>
                <p>{{ object.additional_info | markdown | safe }}</p>
            </div>
            {% endif %}

            {% if project.audience_analysis %}
            <div class="prose">
                <h2>Target Audience</h2>
                <p>{{ project.audience_analysis.target_audience }}</p>
            </div>
            {% endif %}
        </div>

        <!-- Comments -->
        {% include "components/comments.html" with object=object object_type="project_comment" comments=object.comments.all %}

      </div>
{% endblock content %}

{% block schema %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "author": {
    "@type": "Person",
    "givenName": "{{ object.maker.first_name }}",
    "familyName": "{{ object.maker.last_name }}",
    "url": "{{ object.personal_website }}",
    "image": "https://{{ request.get_host }}{% get_media_prefix %}{{ object.maker.maker_profile_image }}"
  },
  "name":"{{ object.title }}",
  "thumbnailUrl": "https://osig.app/g?style=base&site=x&font=markerfelt&title={{ object.title }}&subtitle={{ object.short_description }}&eyebrow=Project&image_url={{ object.homepage_screenshot.url }}",
  "image": "https://osig.app/g?style=base&site=x&font=markerfelt&title={{ object.title }}&subtitle={{ object.short_description }}&eyebrow=Project&image_url={{ object.homepage_screenshot.url }}",
  "abstract": "{{ object.short_description }}"
}
    </script>
{% endblock schema %}
