{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}
{% block meta %}
    <meta name="twitter:card" content="summary_large_image">
    {% if object.maker.twitter_handle %}
        <meta name="twitter:creator" content="@{{ object.maker.twitter_handle }}">
        <meta name="twitter:site" content="@{{ object.maker.twitter_handle }}">
    {% endif %}
    <title>{{ object.title }} is Built with Django</title>
    <meta name="description" content="{{ object.short_description }}">
    <link rel="canonical" href="https://{{ request.get_host }}/projects/{{ object.slug }}" />
    <meta property="og:title" content="{{ object.title }}">
    <meta property="og:url" content="https://{{ request.get_host }}/projects/{{ object.slug }}" />
    <meta property="og:description" content="{{ object.short_description }}">
    <meta property="og:image" content="https://{{ request.get_host }}{{ object.homepage_screenshot.url }}">
    <meta name="twitter:title" content="{{ object.title }}">
    <meta name="twitter:description" content="{{ object.short_description }}">
    <meta name="twitter:image" content="https://{{ request.get_host }}{{ object.homepage_screenshot.url }}">
{% endblock %}
{% block content %}
    <p class="mt-4 text-blue-700">
        ←
        <a href="{% url 'projects' %}">back to all projects</a>
    </p>
    <div class="flex flex-col justify-center max-w-5xl mx-auto my-10 space-y-2">
        {% if user == object.maker.user %}
            <div class="">
                <a href="{% url 'project_update' object.slug %}"
                   class="inline-flex items-center px-6 py-3 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                    Edit Project
                </a>
            </div>
        {% endif %}
        <!-- Projects -->
        <div class="p-6 overflow-hidden bg-white rounded-lg shadow">
            <div class="flex flex-col mb-4 md:text-left md:mt-0">
                <h1 class="text-2xl font-semibold text-black" itemprop="name">
                    <a href="{% url 'project' object.slug %}">{{ object.title }}</a>
                </h1>
                <p class="text-sm leading-normal text-black" itemprop="description">
                    {{ object.short_description }}
                </p>
            </div>
            <div class="mb-2 overflow-hidden bg-white divide-y divide-gray-200 rounded-lg shadow">
                <div class="">
                    <img class="w-full"
                         src="{% get_media_prefix %}{{ object.homepage_screenshot }}"
                         alt="{{ object.title }} | Screenshot">
                </div>
            </div>
            <div class="flex flex-row w-full mb-4 space-x-2 text-center">
                <a class="inline-block w-full px-4 py-3 text-sm font-bold text-center text-white no-underline uppercase transition bg-green-500 rounded-lg shadow flex-no-shrink hover:bg-green-400 hover:-translateY-sm hover:shadow"
                   href="{{ object.url }}?ref={{ request.get_host }}"
                   target="_blank">
                    Visit Website
                </a>
                {% if object.github_url %}
                    <a class="flex items-center bg-gray-100 rounded-lg hover:bg-gray-300"
                       href="{{ object.github_url }}?ref={{ request.get_host }}"
                       target="_blank">
                        <i class="p-2 text-3xl lab la-github"></i>
                    </a>
                {% endif %}
                {% if object.twitter_url %}
                    <a class="flex items-center bg-gray-100 rounded-lg hover:bg-gray-300"
                       href="{{ object.twitter_url }}?ref={{ request.get_host }}"
                       target="_blank">
                        <i class="p-2 text-3xl text-blue-400 lab la-twitter"></i>
                    </a>
                {% endif %}
                <div data-controller="like"
                     class="flex flex-row p-1 border border-gray-300 border-solid rounded-lg hover:border-gray-600 hover:bg-gray-200">
                    <input type="hidden" data-like-target="projectId" value={{ object.id }}>
                    <input type="hidden" data-target="like.currentUser" value={{ user.id }}>
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <button data-action="click->
                            like#modify" class="flex flex-row items-center text-xl">
                            <span data-target="like.numberOfLikes" id="{{ object.id }}_likes"></span>
                            <i id="{{ object.id }}_heart" class=""></i>
                        </button>
                    {% else %}
                        <button data-action="click->
                            like#toggleModal"
                            class="flex flex-row items-center text-xl"
                            data-like-target="modalButton"
                            >
                            <span data-target="like.numberOfLikes" id="{{ object.id }}_likes"></span>
                            <i id="{{ object.id }}_heart" class=""></i>
                        </button>
                        <div data-like-target="modal"
                             class="fixed inset-0 z-10 hidden overflow-y-auto"
                             aria-labelledby="modal-title"
                             role="dialog"
                             aria-modal="true">
                            <div class="flex items-end justify-center px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                                <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
                                     aria-hidden="true"
                                     data-transition-enter="ease-out duration-300"
                                     data-transition-enter-start="opacity-0"
                                     data-transition-enter-end="opacity-100"
                                     data-transition-leave="ease-in duration-200"
                                     data-transition-leave-start="opacity-100"
                                     data-transition-leave-end="opacity-0"></div>
                                <!-- This element is to trick the browser into centering the modal contents. -->
                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">
                                    &#8203;
                                </span>
                                <div class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                                     data-transition-enter="ease-out duration-300"
                                     data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                     data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
                                     data-transition-leave="ease-in duration-200"
                                     data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
                                     data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
                                    <div class="px-4 pt-5 pb-4 bg-white sm:p-6 sm:pb-4">
                                        <div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
                                            <button data-action="click->
                                                like#toggleModal"
                                                data-like-target="modalButton"
                                                type="button"
                                                class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                                >
                                                <span class="sr-only">Close</span>
                                                <!-- Heroicon name: outline/x -->
                                                <svg class="w-6 h-6"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     fill="none"
                                                     viewBox="0 0 24 24"
                                                     stroke="currentColor"
                                                     aria-hidden="true">
                                                    <path stroke-linecap="round"
                                                          stroke-linejoin="round"
                                                          stroke-width="2"
                                                          d="M6 18L18 6M6 6l12 12"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="sm:flex sm:items-start">
                                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                                <h3 class="text-lg font-medium leading-6 text-gray-900"
                                                    id="modal-title">
                                                    Please login
                                                </h3>
                                                <div class="mt-2">
                                                    <p class="text-sm text-gray-500">
                                                        In order to ❤️ projects you need to
                                                        <a class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800"
                                                           href="{% url 'account_login' %}">
                                                            login
                                                        </a>
                                                        or
                                                        <a href="{% url 'account_signup' %}"
                                                           class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-200 text-green-800">
                                                            signup
                                                        </a>
                                                        if you don't have an account yet.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 py-3 bg-gray-50 sm:px-6 sm:flex sm:flex-row-reverse">
                                        <a href="{% url 'account_login' %}"
                                           class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                                            Login
                                        </a>
                                        <button data-action="click->
                                            like#toggleModal"
                                            data-like-target="modalButton"
                                            type="button"
                                            class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if object.description %}
                <div class="" aria-hidden="true">
                    <h2 class="text-lg font-semibold md:text-2xl">
                        Full Description
                    </h2>
                    <div class="text-base prose-sm prose md:prose-lg md:text-lg">
                        {{ object.description | markdown | safe }}
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- Author Card -->
        {% if object.maker.first_name %}
            <div class="px-6 py-4 overflow-hidden bg-white rounded-lg shadow">
                <a href="{{ object.maker.get_absolute_url }}" class="flex items-center">
                    <h2 class="text-2xl font-semibold text-black">
                        Author(s)
                    </h2>
                    <div class="flex items-center py-4">
                        {% if object.maker.maker_profile_image %}
                            <img class="w-16 h-16 rounded-full"
                                 src="{% get_media_prefix %}{{ object.maker.maker_profile_image }}"
                                 alt="">
                        {% else %}
                            <!-- get image gray sillhoutte -->
                            <img class="w-10 h-10 rounded-full"
                                 src="https://avatars.dicebear.com/api/gridy/{{ object.maker.slug }}.svg"
                                 alt="">
                        {% endif %}
                        {% if object.maker.first_name or object.maker.last_name %}
                            <div class="ml-3">
                                <p class="text-lg font-medium text-gray-900">
                                    {% if object.maker.first_name %}{{ object.maker.first_name }}{% endif %}
                                    {% if object.maker.last_name %}{{ object.maker.last_name }}{% endif %}
                                </p>
                                <div>
                                    {% if object.maker.github_handle %}
                                        <a class="inline-block rounded-full"
                                           href="https://github.com/{{ object.maker.github_handle }}?ref={{ request.get_host }}"
                                           target="_blank">
                                            <i class="text-2xl lab la-github"></i>
                                        </a>
                                    {% endif %}
                                    {% if object.maker.twitter_handle %}
                                        <a class="inline-block rounded-full"
                                           href="https://twitter.com/{{ object.maker.twitter_handle }}?ref={{ request.get_host }}"
                                           target="_blank">
                                            <i class="text-2xl lab la-twitter"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        <!-- Tech Stack Card-->
        {% if object.technologies.all %}
            <div class="px-6 py-4 overflow-hidden bg-white rounded-lg shadow">
                <h2 class="text-2xl font-semibold text-black">
                    TechStack
                </h2>
                <div class="flex flex-wrap items-center py-4 -m-1">
                    {% for tech in object.technologies.all %}
                        <div class="inline-flex items-center px-3 m-1 py-1 rounded-full text-md font-medium bg-{{ tech.color }}-100 text-{{ tech.color }}-800">
                            {{ tech.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <!-- Jobs -->
        {% if object.company.jobs.all %}
            <div class="px-6 py-4 overflow-hidden bg-white rounded-lg shadow">
                <h2 class="mb-4 text-2xl font-semibold text-black ">
                    Jobs
                </h2>
                <div class="grid grid-cols-1 gap-4 mb-10 sm:grid-cols-2">
                    {% for job in object.company.jobs.all %}
                        <div class=" relative flex items-center px-6 py-5 space-x-3 {% if job.paid %} bg-yellow-300 border-yellow-300 hover:bg-yellow-400 hover:border-yellow-400 {% else %} bg-white border-gray-300 hover:bg-gray-100 hover:border-gray-400 {% endif %} border border-solid rounded-lg shadow-sm focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 ">
                            <div class="flex-shrink-0">
                                <img class="w-16 h-16 rounded-full"
                                     src="{% get_media_prefix %}{{ job.company.logo }}"
                                     alt="{{ job.company }} Logo"/>
                            </div>
                            <div class="flex-1 min-w-0">
                                <a href="{{ job.get_absolute_url }}" class="focus:outline-none">
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                    <p class="text-lg font-medium text-gray-900">
                                        {{ job.title }}
                                    </p>
                                    <div class="flex items-center space-x-1">
                                        <p class="flex items-center text-sm text-gray-500">
                                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"/>
                                            </svg>
                                            {{ job.company }}
                                        </p>
                                        <p class="flex items-center text-sm text-gray-500">
                                            <!-- Heroicon name: solid/location-marker -->
                                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                      d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            {{ job.location | truncatechars:15 }}
                                        </p>
                                    </div>
                                    <div class="flex items-center space-x-1">
                                        <p class="flex items-center text-sm text-gray-500">
                                            <!-- Heroicon name: solid/location-marker -->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                                 fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-width="2"
                                                      d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                            </svg>
                                            posted {{ job.created_datetime|timesince }} ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if object.podcast_episodes.all %}
            <div class="px-6 py-4 overflow-hidden bg-white rounded-lg shadow">
                <h2 class="text-2xl font-semibold text-black">
                    Podcast Episodes
                </h2>
                {% for episode in object.podcast_episodes.all %}
                    <article class="flex flex-col justify-start mt-4 space-y-4 bg-white border border-solid rounded md:border-0 md:mt-2 md:flex-row">
                        <header class="border-b border-gray-300 border-solid rounded-t-lg md:border-0">
                            <a class="" href="{% url 'episode_details' episode.slug %}">
                                <img class="object-cover object-left-top w-full h-auto border-0 rounded-t"
                                     src="{% get_media_prefix %}{{ episode.thumbnail }}"
                                     alt="{{ episode.title }} | Screenshot"/>
                            </a>
                        </header>
                        <div class="flex-auto h-full p-4">
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">
                                <a href="">{{ episode.title }}</a>
                            </h2>
                            <p class="text-sm leading-normal text-grey-700">
                                {{ episode.details }}
                            </p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        {% endif %}
        <!-- Additional Info Card-->
        {% if object.additional_info %}
            <div class="px-6 py-4 overflow-hidden bg-white rounded-lg shadow">
                <h2 class="text-2xl font-semibold text-black">
                    Additional Info
                </h2>
                <div class="prose">
                    {{ object.additional_info | markdown | safe }}
                </div>
            </div>
        {% endif %}
        <!-- Comments -->
        <div x-data="{ isShowing: false }" class="overflow-hidden bg-white rounded-md shadow">
            <div class="flex flex-row items-center space-x-2 border-b border-gray-200 border-solid">
                <h2 class="flex py-4 pl-6 text-2xl font-semibold">
                    Comments
                </h2>
                <div>
                    <button @click="isShowing = !isShowing" class="inline-block bg-green-500 rounded-full">
                        <i style="color:white;" class="p-2 las la-plus"></i>
                    </button>
                </div>
            </div>
            <div>
                {% if user.is_authenticated %}
                    <form x-show="isShowing"
                          action="{% url 'project_comment' object.slug %}"
                          method="post"
                          class="mx-6 my-2">
                        {% csrf_token %}
                        {{ comment_form.comment }}
                        <button type="submit"
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-600 border border-transparent border-solid rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Post Comment
                        </button>
                    </form>
                {% else %}
                    <div x-show="isShowing" class="mx-6 my-4">
                        <p>
                            To comment on this project please
                            <a href="{% url 'account_signup' %}"
                               class="font-medium text-green-600 hover:text-green-500">
                                signup
                            </a>
                            or
                            <a href="{% url 'account_login' %}"
                               class="font-medium text-green-600 hover:text-green-500">
                                login
                            </a>
                            .
                        </p>
                    </div>
                {% endif %}
            </div>
            <ul class="divide-y divide-gray-200">
                {% for comment in object.comments.all %}
                    <li class="flex items-start px-6 py-4">
                        {% if comment.author.profile_image %}
                            <img class="w-10 h-10 mt-2 rounded-full"
                                 src="{% get_media_prefix %}{{ comment.author.profile_image }}"
                                 alt="">
                        {% else %}
                            <img class="w-10 h-10 mt-2 rounded-full"
                                 src="https://avatars.dicebear.com/api/gridy/{{ comment.author.username }}.svg"
                                 alt="">
                        {% endif %}
                        <div class="ml-3">
                            <p class="font-medium">
                                <span class="text-sm text-gray-900">{{ comment.author }}</span>
                                {% if object.maker.user == comment.author %}
                                    <span>⭐</span>
                                {% endif %}
                                -
                                <span class="text-sm text-gray-600">{{ comment.created_date|timesince }} ago</span>
                            </p>
                            <div class="prose">
                                {{ comment | markdown | safe }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
{% block schema %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "author": {
    "@type": "Person",
    "givenName": "{{ object.maker.first_name }}",
    "familyName": "{{ object.maker.last_name }}",
    "url": "{{ object.personal_website }}",
    "image": "https://{{ request.get_host }}{% get_media_prefix %}{{ object.maker.maker_profile_image }}"
  },
  "name":"{{ object.title }}",
  "thumbnailUrl": "https://{{ request.get_host }}{% get_media_prefix %}{{ object.homepage_screenshot }}",
  "image": "https://{{ request.get_host }}{% get_media_prefix %}{{ object.homepage_screenshot }}",
  "abstract": "{{ object.short_description }}"
}
    </script>
{% endblock schema %}
