{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block meta %}
    <title>Built with Django</title>
    <meta name="description" content="Collection of cool projects people built with Django" />
    <link rel="canonical" href="https://{{ request.get_host }}/projects/new/" />
    <meta property="og:title" content="Built with Django" />
    <meta property="og:url" content="https://{{ request.get_host }}/projects/new/" />
    <meta property="og:description" content="Collection of cool projects people built with Django" />
    <meta property="og:image" content="{% static 'vendors/images/logo.png' %}" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@rasulkireev" />
    <meta name="twitter:title" content="Built with Django" />
    <meta name="twitter:description" content="Collection of cool projects people built with Django" />
    <meta name="twitter:image" content="{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="max-w-5xl mx-auto my-10">
      <div class="px-6 pt-6 overflow-hidden bg-white rounded-lg shadow">
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                  <div class="mt-6 space-y-6 sm:mt-5 sm:space-y-5">
                    <div>
                      <h3 class="text-lg font-medium leading-6 text-gray-900">Required Information</h3>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      {{ form.title.errors | safe }}
                      <label for="title"
                             class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                          Title
                      </label>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        {% render_field form.title class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm" %}
                      </div>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      {{ form.url.errors | safe }}
                      <label for="url"
                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                          URL
                      </label>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        {% render_field form.url class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm" placeholder="https://example.com" %}
                      </div>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                        {{ form.short_description.errors | safe }}
                        <label for="short_description"
                                class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                            Short Description
                        </label>
                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                          {% render_field form.short_description class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm" %}
                            <p class="mt-2 text-sm text-gray-500">
                                Write a few sentences about project (Up to 200 characters).
                            </p>
                        </div>
                    </div>
                    <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
                      <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Optional Information</h3>
                      </div>
                      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                          {{ form.twitter_url.errors | safe }}
                          <label for="twitter_url"
                                class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                              Twitter URL
                          </label>
                          <div class="mt-1 sm:mt-0 sm:col-span-2">
                            {% render_field form.twitter_url class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm" placeholder="https://twitter.com/rasulkireev" %}
                          </div>
                      </div>
                      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                          {{ form.github_url.errors | safe }}
                          <label for="github_url"
                                class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                              Github URL
                          </label>
                          <div class="mt-1 sm:mt-0 sm:col-span-2">
                            {% render_field form.github_url class="block w-full max-w-lg border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm" placeholder="https://github.com/rasulkireev" %}
                          </div>
                      </div>
                      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                          {{ form.technology_suggestions_by_user.errors | safe }}
                          <label for="technology_suggestions_by_user"
                                class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                              Technologies Used
                          </label>
                          <div class="mt-1 sm:mt-0 sm:col-span-2">
                              {% render_field form.technology_suggestions_by_user class="block w-full max-w-lg border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm" rows=6 %}
                              <p class="mt-2 text-sm text-gray-500">
                                  Please enter any technologies your site uses (e.g. TailwindCSS, Vuejs, React, or
                                  <b>
                                  anything
                                  </b>
                                  else that comes to mind.
                              </p>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="pt-5">
                  <div class="flex justify-end">
                      <button type="submit"
                              class="inline-flex justify-center px-4 py-2 ml-3 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                          Submit
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
    {% else %}

    <div class="flex items-center justify-center px-4 py-12 my-4 sm:px-6 lg:px-8">
      <div class="w-full max-w-md space-y-8">
          <div>
              <p class="mt-6 text-3xl font-extrabold text-center text-gray-900">
                  Before you can submit the project please
                  <a class="font-semibold text-gray-800 underline" href="{% url 'account_signup' %}">create your account</a>
                  <span class="mt-6 text-xl font-normal text-center text-gray-900">
                    This helps to prevent spam
                </span>
              </p>
          </div>
      </div>
  </div>
  {% endif %}

{% endblock content %}
