{% extends "base.html" %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block meta %}
  <title>Built with Django - Confirm Email</title>
{% endblock meta %}

{% block content %}
<div class="bg-white lg:min-w-0 md:pt-10 lg:flex-1">
  <div class="pt-2 pl-6 mt-6 sm:mt-0">
    {% if confirmation %}
      <p class="py-4">
        Please confirm that
        <span class="font-semibold">
          {{ confirmation.email_address.email }}
        </span>
        is your main e-mail address.
      </p>

      <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
          <button
            class="inline-flex items-center px-4 py-2 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2"
            type="submit"
          >
            Confirm
          </button>
      </form>
    {% else %}
      <p>This e-mail confirmation link expired or is invalid. Please <a href="{% url 'account_email' }">issue a new e-mail confirmation request</a>.</p>
    {% endif %}

  </div>
</div>
{% endblock content %}
