{% extends "base.html" %}
{% block title %}Sign Out{% endblock %}
{% block content %}
    <div class="mx-auto my-4 prose md:my-10 lg:prose-lg">
        <h1 class="text-center">Please confirm Sign Out</h1>
        <form method="post" class="flex flex-row justify-center" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="inline-flex items-center px-6 py-3 text-base font-medium text-white bg-red-600 border border-solid border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    type="submit">
                Sign Out
            </button>
        </form>
    </div>
{% endblock %}
