{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block meta %}<title>Built with Django | Update Profile</title>{% endblock meta %}

{% block content %}

{% if not email_verified %}
<div class="p-4 my-4 border-2 border-yellow-400 rounded-md bg-yellow-50">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: mini/exclamation-triangle -->
      <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M8.485 3.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 3.495zM10 6a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 6zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-yellow-800">Attention needed</h3>
      <div class="mt-2 text-sm text-yellow-700">
        <p>Your email is not yet confirmed. This may limit the available functionality. You should have gotten a link to confirm in your email. </p>
        <p>If you haven't received it,
          <a class="font-semibold text-yellow-800 underline" href="{% url 'resend_email_confirmation_email' %}">try re-sending it</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="p-2 border-2 border-green-100 rounded-md">
  <div class="p-6">
    <div class="px-4 sm:px-0">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
      <p class="mt-1 text-sm text-gray-600">This information will be displayed publicly so be careful what you share.</p>
    </div>
  </div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="mt-5 md:mt-0 md:col-span-3">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="sm:overflow-hidden">
          <div class="px-4 py-5 space-y-6 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-2">
                {{ form.first_name.errors }}
                <label class="block text-sm font-medium text-gray-700" for="{{ form.first_name.id_for_label }}">
                    First Name
                </label>
                {% render_field form.first_name autocomplete="given-name" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %}
              </div>

              <div class="col-span-6 sm:col-span-2">
                {{ form.last_name.errors }}
                <label class="block text-sm font-medium text-gray-700" for="{{ form.last_name.id_for_label }}">
                    Last Name
                </label>
                {% render_field form.last_name autocomplete="last-name" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %}
              </div>

              <div class="col-span-6 sm:col-span-2">
                {{ form.email.errors }}
                <label class="block text-sm font-medium text-gray-700" for="{{ form.email.id_for_label }}">
                    Email
                </label>
                {% render_field form.email autocomplete="email" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %}
              </div>

              <div class="col-span-6 sm:col-span-3">
                {{ form.personal_website.errors }}
                <label for="{{ form.personal_website.id_for_label }}" class="block text-sm font-medium text-gray-700"> Website </label>
                <div class="flex mt-1 rounded-md shadow-sm">
                  <!-- <span class="inline-flex items-center px-3 text-sm text-gray-500 border border-r-0 border-gray-300 rounded-l-md bg-gray-50"> https:// </span> -->
                  {% render_field form.personal_website type="text" class="flex-1 block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="https://www.example.com" %}
                </div>
              </div>

              <div class="col-span-0 sm:col-span-3"></div>

              <div class="col-span-6 sm:col-span-2">
                {{ form.twitter_handle.errors }}
                <label for="{{ form.twitter_handle.id_for_label }}" class="block text-sm font-medium text-gray-700"> Twitter Handle </label>
                <div class="flex mt-1 rounded-md shadow-sm">
                  <span class="inline-flex items-center px-3 text-sm text-gray-500 border border-r-0 border-gray-300 rounded-l-md bg-gray-50"> @ </span>
                  {% render_field form.twitter_handle type="text" class="flex-1 block w-full border-gray-300 rounded-none focus:ring-indigo-500 focus:border-indigo-500 rounded-r-md sm:text-sm" placeholder="example" %}
                </div>
              </div>

              <div class="col-span-6 sm:col-span-2">
                {{ form.github_handle.errors }}
                <label for="{{ form.github_handle.id_for_label }}" class="block text-sm font-medium text-gray-700"> Github Handle </label>
                <div class="flex mt-1 rounded-md shadow-sm">
                  {% render_field form.github_handle type="text" class="flex-1 block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="example" %}
                </div>
              </div>

              <div class="col-span-6 sm:col-span-2">
                {{ form.indiehackers_handle.errors }}
                <label for="{{ form.indiehackers_handle.id_for_label }}" class="block text-sm font-medium text-gray-700"> Indiehackers Handle </label>
                <div class="flex mt-1 rounded-md shadow-sm">
                  {% render_field form.indiehackers_handle type="text" class="flex-1 block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="example" %}
                </div>
              </div>
            </div>

            <div>
              <label class="block text-sm font-medium text-gray-700"> Photo </label>
              <div class="flex items-center mt-1">
                <span class="inline-block w-12 h-12 overflow-hidden bg-gray-100 rounded-full">
                  {% include "components/profile-image.html" %}
                </span>
                {{ form.profile_image.errors }}
                <label class="px-3 py-2 ml-5 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" for="{{ form.profile_image.id_for_label }}">
                    Change
                </label>
                {% render_field form.profile_image class="hidden" %}
              </div>
            </div>

            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 p-4 mb-4 border-2 border-green-300 rounded-md sm:col-span-2">
                <p class="block mb-2 font-bold text-gray-700">
                    Subcriprion Level
                </p>
                <div class="flex items-center mt-1">
                  <p>{{ object.subscription_level }}</p>
                  {% if object.subscription_level == "FREE" %}
                  <a href="{% url 'upgrade-profile' %}"
                      class="px-3 py-2 ml-5 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                  Upgrade</a>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
          <div class="px-4 py-3 text-left sm:px-6">
            <button class="px-4 py-2 font-bold text-white bg-green-500 rounded hover:bg-green-300" type="submit">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
