{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block meta %}<title>Built with Django | Update Profile</title>{% endblock meta %}

{% block content %}

{% if not email_verified %}
<div class="p-4 my-4 border-2 border-yellow-400 rounded-md bg-yellow-50">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: mini/exclamation-triangle -->
      <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M8.485 3.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 3.495zM10 6a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 6zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-yellow-800">Attention needed</h3>
      <div class="mt-2 text-sm text-yellow-700">
        <p>Your email is not yet confirmed. This may limit the available functionality. You should have gotten a link to confirm in your email. </p>
        <p>If you haven't received it,
          <a class="font-semibold text-yellow-800 underline" href="{% url 'resend_email_confirmation_email' %}">try re-sending it</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}

  <section aria-labelledby="personal-information">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="shadow sm:overflow-hidden sm:rounded-md">
        <div class="px-4 py-6 bg-white sm:p-6">
          <div>
            <h2 id="personal-information" class="text-lg font-medium leading-6 text-gray-900">Personal Information</h2>
          </div>

          <div class="grid grid-cols-4 gap-6 mt-6">
            <div class="col-span-4 sm:col-span-2">
              {{ form.first_name.errors }}
              <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
              {% render_field form.first_name name="first-name" id="first-name" autocomplete="cc-given-name" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
            </div>

            <div class="col-span-4 sm:col-span-2">
              {{ form.last_name.errors }}
              <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
              {% render_field form.last_name name="last-name" id="last-name" autocomplete="cc-family-name" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
            </div>

            <div class="col-span-4 sm:col-span-2">
              {{ form.email.errors }}
              <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
              {% render_field form.email name="email-address" id="email-address" autocomplete="email" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
            </div>

            <div class="col-span-4 sm:col-span-1">
              {{ form.twitter_handle.errors }}
              <label for="{{ form.twitter_handle.id_for_label }}" class="block text-sm font-medium text-gray-700"> Twitter Handle </label>
              {% render_field form.twitter_handle type="text" placeholder="cool_dude" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
            </div>

            <div class="col-span-4 sm:col-span-1">
              {{ form.github_handle.errors }}
              <label for="{{ form.github_handle.id_for_label }}" class="block text-sm font-medium text-gray-700"> Github Handle </label>
              {% render_field form.github_handle type="text" placeholder="cool_dude" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
            </div>

            <div class="col-span-4 sm:col-span-2">
              {{ form.personal_website.errors }}
              <label for="{{ form.personal_website.id_for_label }}" class="block text-sm font-medium text-gray-700"> Website </label>
              <div class="flex mt-1 rounded-md shadow-sm">
                {% render_field form.personal_website type="text" class="flex-1 block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="https://www.co0l-dude.com" %}
              </div>
            </div>

            <div class="col-span-4 sm:col-span-1">
              {{ form.indiehackers_handle.errors }}
              <label for="{{ form.indiehackers_handle.id_for_label }}" class="block text-sm font-medium text-gray-700"> Indiehackers Handle </label>
              {% render_field form.indiehackers_handle type="text" placeholder="cool_dude" class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:border-gray-900 focus:outline-none focus:ring-gray-900 sm:text-sm" %}
            </div>

            <div class="col-span-4 sm:col-span-1">
              <label class="block text-sm font-medium text-gray-700"> Photo </label>
              <div class="flex items-center mt-1">
                <span class="inline-block w-10 h-10 overflow-hidden bg-gray-100 rounded-full">
                  {% include "components/profile-image.html" with size=10 %}
                </span>
                {{ form.profile_image.errors }}
                <label class="px-3 py-2 ml-5 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" for="{{ form.profile_image.id_for_label }}">
                    Change
                </label>
                {% render_field form.profile_image class="hidden" %}
              </div>
            </div>

            <div class="p-4 mb-4 border-2 rounded-md">
              <p class="block mb-2 font-bold text-gray-700">
                  Subcriprion Level
              </p>
              <div class="flex items-center mt-1">
                <p>{{ object.subscription_level }}</p>
                {% if object.subscription_level == "FREE" %}
                <a href="{% url 'upgrade-profile' %}"
                    class="px-3 py-2 ml-5 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                Upgrade</a>
                {% endif %}
              </div>
            </div>

          </div>

        </div>
        <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
          <button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-gray-800 border border-transparent rounded-md shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-900 focus:ring-offset-2">Save</button>
        </div>
      </div>
    </form>
  </section>

{% endblock content %}
