DEBUG=on
ENV=dev

# Main Settings
SECRET_KEY=''
####  run the following to code on the next line to get the secret key, if you don't have one already.
##### python -c 'import random; result = "".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)]); print(result)'

ALLOWED_HOSTS = '', ''

# Sentry
dsn=''

# EmailOctopus
EMAILOCTOPUS_API=''
OCTO_LIST_ID=''

# Paypal
PAYPAL_CLIENT_ID=""

# Email
MAILGUN_API_KEY=""

# Stripe
STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_ENDPOINT_SECRET=""
POST_JOB_PRODUCT_ID=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
