{% extends "base.html" %}
{% load static %}

{% block meta %}
    <title>Advertize on Built with Django</title>
{% endblock meta %}

{% block content %}

<article class="mx-auto mt-10 prose lg:prose-xl">
  <h1 class="text-center">Advertize on Built with Django</h1>

  <p>Built with Django gets around 5k unique visitors a month, with around 10k pageviews per month. You can check out the stats <a href="https://plausible-v2.cr.lvtd.dev/builtwithdjango.com/" target="_blank">here</a>.</p>

  <p>Here are a few options:</p>

  <h2>1. Highlighted product</h2>
  <p>Your site will be featured on the <a href="{% url 'home' %}">homepage</a> and on the <a href="{% url 'projects' %}">projects list</a>, which combined 2k - 2.5k unique users per month (images below). Since I just started and not entirely sure what this traffic is worth, I'm offering a whole month for $50.</p>
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/CleanShot 2024-09-19 at 10.26.41.png' %}" alt="Highlighted product example 1">
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/CleanShot 2024-09-19 at 10.26.05.png' %}" alt="Highlighted product example 2">

  <h2>2. Ad on the bottom right of the screen</h2>
  <p>This is displayed on every single page for every single visit. So you will be getting all the eyes that are coming from the site ~10K page views per month. I'm selling this ad spot for $100 per month (below are images for how it looks on desktop and mobile).</p>
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/CleanShot 2024-09-19 at 10.31.35.png' %}" alt="Ad on desktop">
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/CleanShot 2024-09-19 at 10.32.49.png' %}" alt="Ad on mobile">

  <h2>3. Sponsor block in the newsletter</h2>
  <p>~500 subscribers and the open rate is always >50%, but close to 65% most of the time. I send 4 newsletters a month with 50 clicks on average. This will be $50 for 4 newsletter issues.</p>
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/CleanShot 2024-09-19 at 11.53.00.png' %}" alt="Newsletter sponsor block example 1">
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/CleanShot 2024-09-19 at 11.51.36.png' %}" alt="Newsletter sponsor block example 2">
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/CleanShot 2024-09-19 at 11.51.59.png' %}" alt="Newsletter sponsor block example 3">

  <h2>4. Sponsored Job Posting</h2>
  <p>This is perfect if you are hiring for Django Engineers. Your post will be first and highlighted on the <a href="{% url 'jobs' %}">Job Board</a> and on <a href="https://newsletter.builtwithdjango.com">the newsletter</a>. This will cost $100 for a month (4 newsletter issues).</p>
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/image.png' %}" alt="Sponsored Job Posting example 1">
  <img class="my-1 rounded border border-gray-200" src="{% static 'vendors/images/CleanShot 2024-09-19 at 11.57.45.png' %}" alt="Sponsored Job Posting example 2">
</article>

{% endblock content %}
