{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="mt-8">
        {% if user.is_superuser %}
            <a class="inline-flex items-center px-4 py-2 text-base font-medium text-green-700 bg-green-200 border border-transparent border-solid rounded-md hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
               href="{% url 'get-weekly-template' %}">
                Get Weekly Email
            </a>
        {% endif %}
        <div class="mb-10">
            {% if messages %}
                <div class="p-4 my-4 border border-green-500 border-solid rounded-md bg-green-50">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <!-- Heroicon name: solid/check-circle -->
                            <svg class="w-5 h-5 text-green-400"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div class="ml-3">
                            <div class="text-sm text-green-700">
                                {% for message in messages %}
                                    <p>
                                        {{ message }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="sm:mb-6 md:flex md:items-center md:justify-between">
                <div class="flex-1 min-w-0">
                    <h2 class="inline text-2xl font-bold leading-7 ilnine sm:text-3xl md:text-4xl sm:truncate">
                        Latest Projects
                    </h2>
                    (
                    <a href="{% url 'projects' %}" class="text-gray-600 hover:text-gray-900 hover:underline">
                        See All
                    </a>
                    )
                </div>
                <div class="flex mt-4 mb-4 sm:mb-0 md:mt-0 md:ml-4">
                    <a type="button"
                       href="{% url 'submit_project' %}"
                       class="inline-flex items-center px-4 py-2 text-base font-medium text-green-700 bg-green-200 border border-transparent border-solid rounded-md hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                        Submit a Project
                    </a>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 md:grid-cols-2">
                {% for site in projects %}
                    <article class="flex flex-col justify-start bg-white border border-solid rounded shadow">
                        <header class="border-b border-gray-300 border-solid rounded-t-lg">
                            <a href="{% url 'project' site.slug %}">
                                <img class="object-cover object-left-top w-full h-auto border-0 rounded-t"
                                     src="{% get_media_prefix %}{{ site.homepage_screenshot }}"
                                     alt="{{ site.title }} | Screenshot" />
                            </a>
                        </header>
                        <div class="flex-auto h-full p-4 border-b border-gray-300 border-solid">
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">
                                <a href="{% url 'project' site.slug %}">{{ site.title }}</a>
                            </h2>
                            <p class="text-sm leading-normal text-grey-700">
                                {{ site.short_description }}
                            </p>
                        </div>
                        <footer class="flex items-center justify-between px-4 py-2">
                            <div>
                                <a class="inline-block bg-gray-200 rounded-full hover:border hover:border-solid hover:border-gray-700 hover:bg-gray-400"
                                   href="{{ site.url }}?ref={{ request.get_host }}"
                                   target="_blank">
                                    <i class="p-2 las la-link"></i>
                                </a>
                                {% if site.github_url %}
                                    <a class="inline-block bg-gray-200 rounded-full hover:border hover:border-solid hover:border-gray-700 hover:bg-gray-400"
                                       href="{{ site.github_url }}?ref={{ request.get_host }}"
                                       target="_blank">
                                        <i class="p-2 lab la-github"></i>
                                    </a>
                                {% endif %}
                                {% if site.twitter_url %}
                                    <a class="inline-block bg-gray-200 rounded-full hover:border hover:border-solid hover:border-gray-700 hover:bg-gray-400"
                                       href="{{ site.twitter_url }}?ref={{ request.get_host }}"
                                       target="_blank">
                                        <i class="p-2 lab la-twitter"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div>
                                <div class="inline-block p-1 border border-gray-300 border-solid rounded-full">
                                    <span>{{ site.comments.all.count }}</span>
                                    <i class="las la-comments"></i>
                                </div>
                                <div data-controller="like"
                                     class="inline-block p-1 border border-gray-300 border-solid rounded-full hover:border-gray-600 hover:bg-gray-100">
                                    <input type="hidden" data-like-target="projectId" value={{ site.id }} />
                                    <input type="hidden" data-like-target="currentUser" value={{ user.id }} />
                                    {% csrf_token %}
                                    {% if user.is_authenticated %}
                                        <button data-action="click->
                                            like#modify">
                                            <span data-target="like.numberOfLikes" id="{{ site.id }}_likes"></span>
                                            <i id="{{ site.id }}_heart"></i>
                                        </button>
                                    {% else %}
                                        <button data-action="click->
                                            like#toggleModal" data-like-target="modalButton">
                                            <span data-target="like.numberOfLikes" id="{{ site.id }}_likes"></span>
                                            <i id="{{ site.id }}_heart"></i>
                                        </button>
                                        <div data-like-target="modal"
                                             class="fixed inset-0 z-10 hidden overflow-y-auto"
                                             aria-labelledby="modal-title"
                                             role="dialog"
                                             aria-modal="true">
                                            <div class="flex items-end justify-center px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                                                <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
                                                     aria-hidden="true"
                                                     data-transition-enter="ease-out duration-300"
                                                     data-transition-enter-start="opacity-0"
                                                     data-transition-enter-end="opacity-100"
                                                     data-transition-leave="ease-in duration-200"
                                                     data-transition-leave-start="opacity-100"
                                                     data-transition-leave-end="opacity-0"></div>
                                                <!-- This element is to trick the browser into centering the modal contents. -->
                                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
                                                      aria-hidden="true">
                                                    &#8203;
                                                </span>
                                                <div class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                                                     data-transition-enter="ease-out duration-300"
                                                     data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                                                     data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
                                                     data-transition-leave="ease-in duration-200"
                                                     data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
                                                     data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
                                                    <div class="px-4 pt-5 pb-4 bg-white sm:p-6 sm:pb-4">
                                                        <div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
                                                            <button data-action="click->
                                                                like#toggleModal"
                                                                data-like-target="modalButton"
                                                                type="button"
                                                                class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                                                >
                                                                <span class="sr-only">Close</span>
                                                                <!-- Heroicon name: outline/x -->
                                                                <svg class="w-6 h-6"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     fill="none"
                                                                     viewBox="0 0 24 24"
                                                                     stroke="currentColor"
                                                                     aria-hidden="true">
                                                                    <path stroke-linecap="round"
                                                                          stroke-linejoin="round"
                                                                          stroke-width="2"
                                                                          d="M6 18L18 6M6 6l12 12"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                        <div class="sm:flex sm:items-start">
                                                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                                                <h3 class="text-lg font-medium leading-6 text-gray-900"
                                                                    id="modal-title">
                                                                    Please login
                                                                </h3>
                                                                <div class="mt-2">
                                                                    <p class="text-sm text-gray-500">
                                                                        In order to ❤️ projects you need to
                                                                        <a class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800"
                                                                           href="{% url 'account_login' %}">
                                                                            login
                                                                        </a>
                                                                        or
                                                                        <a href="{% url 'account_signup' %}"
                                                                           class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-200 text-green-800">
                                                                            signup
                                                                        </a>
                                                                        if you don't have an account yet.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="px-4 py-3 bg-gray-50 sm:px-6 sm:flex sm:flex-row-reverse">
                                                        <a href="{% url 'account_login' %}"
                                                           class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                                                            Login
                                                        </a>
                                                        <button data-action="click->
                                                            like#toggleModal"
                                                            data-like-target="modalButton"
                                                            type="button"
                                                            class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                {% if site.logged_in_maker %}
                                  <a href="#" class="text-sm font-semibold text-gray-700">
                                    {% if site.logged_in_maker.first_name and site.logged_in_maker.last_name %}
                                      by {{ site.logged_in_maker.first_name }} {{ site.logged_in_maker.last_name }}
                                    {% else %}
                                    {{ site.logged_in_maker }}
                                    {% endif %}
                                  </a>
                                {% elif site.maker.first_name or site.maker.last_name %}
                                    <a href="{{ site.maker.get_absolute_url }}"
                                       class="text-sm font-semibold text-gray-700 hover:underline hover:text-gray-900">
                                        by
                                        {% if site.maker.first_name %}{{ site.maker.first_name }}{% endif %}
                                        {% if site.maker.last_name %}{{ site.maker.last_name }}{% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </footer>
                    </article>
                {% endfor %}
            </div>
        </div>
        <div class="mb-10">
            <div class="sm:mb-6 md:flex md:items-center md:justify-between">
                <div class="flex-1 min-w-0">
                    <h2 class="inline text-2xl font-bold leading-7 ilnine sm:text-3xl md:text-4xl sm:truncate">
                        Latest Jobs
                    </h2>
                    (
                    <a href="{% url 'jobs' %}" class="text-gray-600 hover:text-gray-900 hover:underline">
                        See All
                    </a>
                    )
                </div>
                <div class="flex mt-4 mb-4 md:mt-0 md:ml-4 sm:mb-0">
                    <a type="button"
                       href="{% url 'post_job' %}"
                       class="inline-flex items-center px-4 py-2 text-base font-medium text-green-700 bg-green-200 border border-transparent border-solid rounded-md hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                        Post a Job ($100)
                    </a>
                </div>
            </div>
            {% if jobs %}
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    {% for job in jobs %}
                        <div class=" relative flex items-center px-6 py-5 space-x-3 {% if job.paid %} bg-yellow-300 border-yellow-300 hover:bg-yellow-400 hover:border-yellow-400 {% else %} bg-white border-gray-300 hover:bg-gray-100 hover:border-gray-400 {% endif %} border border-solid rounded-lg shadow-sm focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 ">
                            <div class="flex-shrink-0">
                                {% if job.company.logo %}
                                <img class="w-10 h-10 rounded-full"
                                     src="{% get_media_prefix %}{{ job.company.logo }}"
                                     alt="{{ job.company }} Logo" />
                                {% endif %}
                            </div>
                            <div class="flex-1 min-w-0">
                                <a href="{{ job.get_absolute_url }}" class="focus:outline-none">
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                    <p class="text-lg font-medium text-gray-900">
                                        {{ job.title }}
                                    </p>
                                    <div class="flex items-center space-x-1">
                                        <p class="flex items-center text-sm text-gray-500">
                                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"/>
                                            </svg>
                                            {{ job.company }}
                                        </p>
                                        <p class="flex items-center text-sm text-gray-500">
                                            <!-- Heroicon name: solid/location-marker -->
                                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                      d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            {{ job.location | truncatechars:15 }}
                                        </p>
                                    </div>
                                    <div class="flex items-center space-x-1">
                                        <p class="flex items-center text-sm text-gray-500">
                                            <!-- Heroicon name: solid/location-marker -->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                                 fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-width="2"
                                                      d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                            </svg>
                                            posted {{ job.created_datetime|timesince }} ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="flex justify-center mx-auto my-10">
                    <p class="text-3xl md:text-4xl">
                        There are currently no jobs available...
                        <span class="font-bold">that we know of</span>
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="mb-10">
            <div class="sm:mb-6 md:flex md:items-center md:justify-between">
                <div class="flex-1 min-w-0">
                    <h2 class="inline text-2xl font-bold leading-7 ilnine sm:text-3xl md:text-4xl sm:truncate">
                        Latest Podcast Episodes
                    </h2>
                    (
                    <a href="{% url 'podcast_episodes' %}" class="text-gray-600 hover:text-gray-900 hover:underline">
                        See All
                    </a>
                    )
                </div>
            </div>
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 md:grid-cols-2">
                {% for episode in podcast_episodes %}
                    <article class="flex flex-col justify-start bg-white border border-solid rounded shadow">
                        <header class="border-b border-gray-300 border-solid rounded-t-lg">
                            <a href="{% url 'episode_details' episode.slug %}">
                                <img class="object-cover object-left-top w-full h-auto border-0 rounded-t"
                                     src="{% get_media_prefix %}{{ episode.thumbnail }}"
                                     alt="{{ episode.title }} | Screenshot" />
                            </a>
                        </header>
                        <div class="flex-auto h-full p-4">
                            <h2 class="mb-2 text-lg font-semibold text-gray-900">
                                <a href="">{{ episode.title }}</a>
                            </h2>
                            <p class="text-sm leading-normal text-grey-700">
                                {{ episode.details }}
                            </p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
