{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Built with Django</title>
    <meta name="description" content="Collection of cool projects people built with Django">
    <link rel="canonical" href="https://{{ request.get_host }}/donate-one-time/" />
    <meta property="og:title" content="Built with Django">
    <meta property="og:url" content="https://{{ request.get_host }}/donate-one-time/" />
    <meta property="og:description" content="Collection of cool projects people built with Django">
    <meta name="og:image" content="{% static 'images/logo.png' %}">
    <meta name="twitter:creator" content="@rasulkireev">
    <meta name="twitter:site" content="@rasulkireev">
    <meta name="twitter:title" content="Built with Django">
    <meta name="twitter:description" content="Collection of cool projects people built with Django">
    <meta name="twitter:image" content="{% static 'images/logo.png' %}">
{% endblock %}
{% block content %}
    <div class="mt-8 mb-10 prose md:mx-auto lg:prose-xl">
        <h1>Support the project with a one-time payment</h1>
        <p>
            You can choose
            <strong>any amount</strong>
            that you think is fair.
        </p>
        <p>
            If you decide to support me this way, fill out two boxes below and click one of the buttons.
        </p>
        <p>
            Before you do click, though, let me say that I'm very grateful for your support! Thank you!
        </p>
    </div>
    <div id="smart-button-container">
        <div style="text-align: center">
            <label for="description">Message</label>
            <input type="text" name="descriptionInput" id="description" maxlength="127" value="">
        </div>
        <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">
            Please enter a description
        </p>
        <div style="text-align: center">
            <label for="amount"></label>
            <input name="amountInput" type="number" id="amount" value="" >
            <span>USD</span>
        </div>
        <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">
            Please enter a price
        </p>
        <div id="invoiceidDiv" style="text-align: center; display: none;">
            <label for="invoiceid"></label>
            <input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" >
        </div>
        <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">
            Please enter an Invoice ID
        </p>
        <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
  function initPayPalButton() {
    paypal.Buttons({
      style: {
        shape: 'rect',
        color: 'gold',
        layout: 'vertical',
        label: 'paypal',

      },

      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{"amount":{"currency_code":"USD","value":1}}]
        });
      },

      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {

          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for your payment!</h3>';

          // Or go to another URL:  actions.redirect('thank_you.html');

        });
      },

      onError: function(err) {
        console.log(err);
      }
    }).render('#paypal-button-container');
  }
  initPayPalButton();
    </script>
{% endblock content %}
