[Unit]
Description=gunicorn daemon
Requires=bwd.gunicorn.socket
After=network.target

[Service]
User=rasulkireev
Group=www-data
WorkingDirectory=/var/www/builtwithdjango
ExecStart=/var/www/builtwithdjango/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/bwd.gunicorn.sock \
          builtwithdjango.wsgi:application

[Install]
WantedBy=multi-user.target
