# /etc/systemd/system/bwd.celery.service

[Unit]
Description=Built with Django Celery Service
After=network.target rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Type=simple
User=rasulkireev
Group=www-data
EnvironmentFile=/etc/conf.d/bwd.celery
WorkingDirectory=/var/www/builtwithdjango
ExecStart=/var/www/builtwithdjango/venv/bin/celery -A builtwithdjango multi start w1 w2 \
    --pidfile=/var/run/celery/%n.pid --logfile=/var/log/celery/%n.log \
    --loglevel=INFO --time-limit=300 --concurrency=2
ExecStop=/bin/sh -c '${CELERY_BIN} multi stopwait $CELERYD_NODES \
    --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} \
    --loglevel="${CELERYD_LOG_LEVEL}"'
ExecReload=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP multi restart $CELERYD_NODES \
    --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} \
    --loglevel="${CELERYD_LOG_LEVEL}" $CELERYD_OPTS'
Restart=always

[Install]
WantedBy=multi-user.target
