{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}
{% block meta %}
    <title>Built with Django | {{ object.first_name }} {{ object.last_name }}</title>
    <meta name="description" content="{{ object.first_name }} {{ object.last_name }} builds with Django" />
    <link rel="canonical" href="https://{{ request.get_host }}/makers/{{ object.slug }}/" />
    <meta property="og:title" content="{{ object.first_name }} {{ object.last_name }} builds with Django" />
    <meta property="og:url" content="https://{{ request.get_host }}/makers/{{ object.slug }}/" />
    <meta property="og:description" content="{{ object.first_name }} {{ object.last_name }} builds with Django" />
    <meta name="og:image" content="{% get_media_prefix %}{{ object.maker_profile_image }}" />
    {% if object.twitter_handle %}
        <meta name="twitter:creator" content="@{{ object.twitter_handle }}" />
        <meta name="twitter:site" content="@{{ object.twitter_handle }}" />
    {% else %}
        <meta name="twitter:creator" content="@rasulkireev" />
        <meta name="twitter:site" content="@rasulkireev" />
    {% endif %}
    <meta name="twitter:title" content="{{ object.first_name }} {{ object.last_name }} builds with Django" />
    <meta name="twitter:description" content="{{ object.first_name }} {{ object.last_name }} builds with Django" />
    <meta name="twitter:image" content="{% get_media_prefix %}{{ object.maker_profile_image }}" />
{% endblock %}
{% block content %}
    <div class="max-w-5xl mx-auto">
        <div class="flex flex-col justify-center my-6 space-y-2">
            {% if user.is_authenticated and object.maker_email == user.email and object.user == None %}
                <form class="" action="{% url 'claim_account' object.pk %}" method="post">
                    {% csrf_token %}
                    <input class="hidden" type="text" value="{{ user.email }}">
                    <button type="submit"
                            class="inline-flex items-center px-6 py-3 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                        Claim
                    </button>
                </form>
            {% elif user == maker.user %}
                <div class="">
                    <a href="{% url 'maker_update' object.slug %}"
                       class="inline-flex items-center px-6 py-3 text-base font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                        Edit Profile
                    </a>
                </div>
            {% endif %}
            <div class="p-6 overflow-hidden bg-white rounded-lg shadow">
                <div class="flex items-center">
                    {% if object.first_name or object.last_name %}
                        <div class="flex flex-col content-start self-start justify-start ml-3">
                            <div class="flex flex-col items-center space-y-3 sm:space-x-3 sm:flex-row">
                                <div class="flex flex-row justify-center m-0"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
                    <div class="aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                        {% if object.maker_profile_image %}
                            <img class="object-cover rounded-lg shadow-lg"
                                 src="{% get_media_prefix %}{{ object.maker_profile_image }}"
                                 alt="Built with Django | {{ object.first_name }} {{ object.last_name }}">
                        {% else %}
                            <img class="object-cover rounded-lg shadow-lg"
                                 src="https://avatars.dicebear.com/api/gridy/{{ maker.first_name }} {{ maker.last_name }}.svg">
                        {% endif %}
                    </div>
                    <div class="sm:col-span-2">
                        <div class="space-y-4">
                            <div class="space-y-1 text-lg font-medium leading-6">
                                <h3 class="text-4xl font-semibold text-black">
                                    {% if object.first_name %}{{ object.first_name }}{% endif %}
                                    {% if object.last_name %}{{ object.last_name }}{% endif %}
                                </h3>
                                <ul role="list" class="flex space-x-2">
                                    <li>
                                        {% if object.twitter_handle %}
                                            <a class="text-gray-400 hover:text-gray-500"
                                               href="https://twitter.com/{{ object.twitter_handle }}?ref={{ request.get_host }}"
                                               target="_blank">
                                                <i class="text-4xl text-gray-400 lab la-twitter"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if object.github_handle %}
                                            <a class="text-gray-400 hover:text-gray-500"
                                               href="https://github.com/{{ object.github_handle }}?ref={{ request.get_host }}"
                                               target="_blank">
                                                <i class="text-4xl text-gray-400 lab la-github"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            {% if object.short_bio %}
                                <div class="prose-sm prose sm:prose-lg">
                                    <p class="text-gray-500">
                                        {{ object.short_bio | markdown | safe }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if object.projects.all %}
            <div class="p-6 overflow-hidden bg-white rounded-lg shadow">
                <h3 class="mb-4 text-4xl font-semibold text-black">
                    Projects
                </h3>
                <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 md:grid-cols-2">
                    {% for site in object.projects.all %}
                        {% if site.published %}
                            <article class="flex flex-col justify-start bg-white border border-solid rounded shadow">
                                <header class="border-b border-gray-300 border-solid rounded-t-lg">
                                    <a class="" href="{% url 'project' site.slug %}">
                                        <img class="object-cover object-left-top w-full h-auto border-0 rounded-t"
                                             src="{% get_media_prefix %}{{ site.homepage_screenshot }}"
                                             alt="{{ site.title }} | Screenshot">
                                    </a>
                                </header>
                                <div class="flex-auto h-full p-4">
                                    <h2 class="mb-2 text-lg font-semibold text-gray-900">
                                        <a href="{% url 'project' site.slug %}">{{ site.title }}</a>
                                    </h2>
                                    <p class="text-sm leading-normal text-grey-700">
                                        {{ site.short_description }}
                                    </p>
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block schema %}
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Built with Django | {{ object.first_name }} {{ object.last_name }}",
    "description": "{{ object.first_name }} {{ object.last_name }} builds with Django",
    "thumbnailUrl": "{% get_media_prefix %}{{ object.maker_profile_image }}",
    "url": "https://{{ request.get_host }}/makers/{{ object.slug }}/",
    "author": {
      "@type": "Person",
      "givenName": "Rasul",
      "familyName": "Kireev",
      "url": "https://rasulkireev.com/"
    }
  }
    </script>
{% endblock schema %}
