{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block meta %}
    <title>Generate Django Secret Key</title>
    <meta name="description" content="Generate a secure Django secret key for your project."/>
    <link rel="canonical" href="https://{{ request.get_host }}/generate-secret-key/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@yourtwitterhandle" />
    <meta name="twitter:site" content="@yourwebsitetwitter" />
    <meta name="twitter:title" content="Generate Django Secret Key" />
    <meta name="twitter:description" content="Generate a secure Django secret key for your project."/>
    <meta name="twitter:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
    <meta property="og:title" content="Generate Django Secret Key" />
    <meta property="og:url" content="https://{{ request.get_host }}/generate-secret-key/" />
    <meta property="og:description" content="Generate a secure Django secret key for your project."/>
    <meta property="og:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}
<div
  data-controller="secret-key"
  data-secret-key-url-value="{% url 'generate_django_secret' %}"
  class="px-6 py-20 bg-white lg:px-8"
>
  <div class="mx-auto max-w-2xl text-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Generate Django Secret</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600 prose">Click the button below to generate a new Django secret key.</p>
  </div>
  <div class="flex flex-col items-center mt-8">
    <div class="mb-4 w-full max-w-lg">
      <div class="flex items-center p-1 rounded-md border border-gray-300 focus-within:border-green-500 focus-within:ring-1 focus-within:ring-green-500">
        <input
          data-secret-key-target="output"
          readonly
          class="flex-grow p-2 text-sm text-gray-600 rounded-l-md border-0 focus:ring-0 outline-0 focus:outline-0"
          type="text"
          placeholder="Your secret key will appear here"
        />
        <button data-secret-key-target="copyButton" data-action="secret-key#copy" class="px-4 py-2 text-sm text-white bg-green-600 rounded-md transition-colors hover:bg-green-500">Copy</button>
      </div>
    </div>
    <button
      data-action="click->secret-key#generate"
      class="px-5 py-3 text-base font-medium text-white bg-green-500 rounded-md border border-transparent shadow transition-colors hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-700 focus:ring-white"
    >Generate Secret Key</button>
  </div>
</div>

{% include "components/newsletter.html" with newsletter_form=newsletter_form %}

{% endblock content %}

{% block schema %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Generate Django Secret Key",
        "description": "Generate a secure Django secret key for your project.",
        "abstract": "Generate a secure Django secret key for your project.",
        "thumbnailUrl": "https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}",
        "url": "https://{{ request.get_host }}/generate-secret-key/",
        "author": {
            "@type": "Person",
            "givenName": "Your",
            "familyName": "Name",
            "url": "https://yourwebsite.com/"
        },
        "mainEntity": {
            "@type": "WebApplication",
            "name": "Django Secret Key Generator",
            "applicationCategory": "DeveloperApplication",
            "operatingSystem": "All"
        }
    }
    </script>
{% endblock schema %}
