{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% load cloudinary %}
{% block meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@builtwithdjango" />
    <title>Built with Django | Blog</title>
    <meta name="description" content="Articles about Django"/>
    <link rel="canonical" href="https://{{ request.get_host }}/blog/" />
    <meta property="og:title" content="Built with Django | Blog" />
    <meta property="og:url" content="https://{{ request.get_host }}/blog/" />
    <meta property="og:description" content="Articles about Django"/>
    <meta name="twitter:title" content="Built with Django | Blog" />
    <meta name="twitter:description" content="Articles about Django"/>
    <meta name="twitter:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}

    <h2 class="my-10 text-2xl font-bold leading-7 text-center text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      Django Guides
    </h2>

    <div class="relative max-w-6xl mx-auto">
        <div class="divide-y divide-gray-200">
            <div class="grid grid-cols-1 gap-6 mb-10 md:grid-cols-2">
                {% for guide in object_list %}
                <div class="flex bg-white border border-gray-100 rounded-md shadow group">
                    <div class="flex items-center flex-shrink-0 p-4 bg-gray-100 lg:p-4">
                      <!-- Heroicon name: outline/globe-alt -->
                      <img class="flex-shrink-0 w-8 h-8 mx-auto lg:h-16 lg:w-16"
                          src="https://res.cloudinary.com/built-with-django/{{ guide.icon }}"
                          alt="" />
                    </div>
                    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                      <div class="flex-1">
                        <a href="{% url 'post' guide.slug %}" class="block">
                          <p class="text-xl font-semibold text-gray-900">{{ guide.title }}</p>
                          <p class="mt-2 text-sm text-gray-500">{{ guide.description | truncatechars:300 | markdown | safe }}</p>
                        </a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block schema %}
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Built with Django | Blog",
    "about": "Blog",
    "description": "Articles about Django",
    "abstract": "Articles about Django",
    "thumbnailUrl": "https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}",
    "url": "https://{{ request.get_host }}/blog/",
    "author": {
      "@type": "Person",
      "givenName": "Rasul",
      "familyName": "Kireev",
      "url": "https://rasulkireev.com/"
    }
  }
    </script>
{% endblock schema %}
