{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% load url_utils %}

{% block meta %}
    {% osig_image title=object.title subtitle=object.description eyebrow="Article" site="x" as article_image %}
    {% include "components/seo_meta.html" with title=object.title description=object.description canonical_path=object.get_absolute_url image=article_image og_type="article" image_alt=object.title %}
{% endblock meta %}

{% block content %}
<section class="bw-page-hero pb-8">
  <div class="bw-container">
    <a href="{% url 'blog' %}" class="inline-flex items-center gap-2 text-sm font-black text-[var(--bw-primary-dark)]">
      <i class="las la-arrow-left" aria-hidden="true"></i>
      All guides
    </a>
    <div class="mt-8 max-w-4xl">
      <p class="bw-kicker">Django guide</p>
      <h1 class="bw-heading-lg mt-3">{{ object.title }}</h1>
      {% if object.description %}
        <p class="bw-lede mt-5">{{ object.description }}</p>
      {% endif %}
    </div>
  </div>
</section>

{# djlint:off #}
<div data-controller="exit-intent" data-action="mouseout@document->exit-intent#openModal">
{# djlint:on #}
  <section class="pb-16">
    <div class="bw-container">
      <article class="bw-surface max-w-4xl p-5 sm:p-8">
        <div class="bw-prose prose max-w-none md:prose-lg">
          <div class="blog-post">
            {{ object.content | markdown | safe }}
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
{% endblock content %}

{% block schema %}
{% osig_image title=object.title subtitle=object.description eyebrow="Article" site="x" as article_image %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{% canonical_url object.get_absolute_url %}"
  },
  "author": {
    "@type": "Person",
    "name": "Rasul Kireev",
    "url": "https://rasulkireev.com/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Built with Django",
    "logo": {
      "@type": "ImageObject",
      "url": "{% absolute_url '/static/vendors/images/logo.png' %}"
    }
  },
  "headline": {{ object.title|json_ld }},
  "description": {{ object.description|json_ld }},
  "about": "Django",
  "image": {{ article_image|json_ld }},
  "thumbnailUrl": {{ article_image|json_ld }},
  "datePublished": "{{ object.created|date:'c' }}",
  "dateModified": "{{ object.modified|date:'c' }}"
}
</script>
{% endblock schema %}
