{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% load url_utils %}

{% block meta %}
    <title>{{ object.title }}</title>
    <link rel="canonical" href="https://{{ request.get_host }}/blog/{{ object.slug }}" />
    <meta name="description" content="{{ object.description }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@builtwithdjango" />
    <meta name="twitter:title" content="{{ object.title }}" />
    <meta name="twitter:description" content="{{ object.description }}" />
    <meta name="twitter:image" content="https://osig.app/g?style=base&site=x&font=markerfelt&title={{ object.title }}&subtitle={{ object.description }}&eyebrow=Article" />
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:url" content="https://{{ request.get_host }}/blog/{{ object.slug }}" />
    <meta property="og:description" content="{{ object.description }}" />
    <meta property="og:image" content="https://osig.app/g?style=base&site=facebook&font=markerfelt&title={{ object.title }}&subtitle={{ object.description }}&eyebrow=Article" />
{% endblock meta %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block content %}
    <p class="mt-4 text-blue-700">
        ←
        <a href="{% url 'blog' %}">back to all posts</a>
    </p>

    {# djlint:off #}
    <div data-controller="exit-intent" data-action="mouseout@document->exit-intent#openModal">
    {# djlint:on #}

        <div class="p-10 mx-auto mt-10 max-w-4xl bg-white rounded-lg border border-gray-200 border-solid shadow">
            <div class="prose md:prose-lg">
                <h1>{{ object.title }}</h1>
                <div class="blog-post">
                    {{ object.content | markdown | safe }}
                </div>
            </div>
          </div>
          <div class="mx-auto my-6 max-w-3xl">
            {% include "components/comments.html" with object=object object_type="create_guide_comment" comments=object.guide_comments.all %}
          </div>
    </div>
{% endblock content %}

{% block schema %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "BlogPosting",
  "author": {
    "@type": "Person",
    "name": "Rasul Kireev",
    "image": "https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}"
  },
  "headline": "{{ object.title }}",
  "about": "Django",
  "abstract": "{{ object.description }}",
  "articleBody": "{% autoescape on %}{{ object.content|safe|replace_quotes }}{% endautoescape %}",
  "image": "https://osig.app/g?style=base&site=x&font=markerfelt&title={{ object.title }}&subtitle={{ object.description }}&eyebrow=Article",
  "thumbnailUrl": "https://osig.app/g?style=base&site=x&font=markerfelt&title={{ object.title }}&subtitle={{ object.description }}&eyebrow=Article",
  "dateCreated": "{{ object.created }}",
  "datePublished": "{{ object.created }}",
  "dateModified": "{{ object.modified }}"
}
</script>
{% endblock schema %}
