{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="w-11/12 p-2 mx-auto my-6 text-center bg-green-700 border border-green-700 rounded md:w-full">
          <p class="text-white">{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}


<div class="flex flex-col flex-wrap justify-center md:flex-row md:justify-start">
  {% for site in object_list %}
  {% if site.published %}
      <div class="flex flex-col w-full px-3 mb-4 md:w-1/2 lg:w-1/3">
        <div class="flex flex-col justify-between flex-1 overflow-hidden no-underline transition bg-white rounded-lg shadow-lg hover:shadow hover:-translateY-sm">
          <a class="block border-b border-gray-300 rounded-t-lg" href="{% url 'project' site.slug %}">
            <img class="object-cover object-left-top w-full h-56" src="{% get_media_prefix %}{{site.website_homepage_screenshot}}" alt="{{ site.website_title }} | Screenshot">
          </a>
          <div class="h-full p-4 border-t border-gray-300">
            <h2 class="mb-2 text-lg font-semibold text-gray-900"><a href="{% url 'project' site.slug %}">{{ site.website_title }}</a></h2>
            <p class="text-sm leading-normal text-grey-700">{{ site.website_short_description }}</p>
          </div>
          <div class="flex items-center justify-between border-t px-4 py-2 border-gray-300">
              <div class="">
                <a class="inline-block bg-gray-300 rounded-full" href="{{ site.website_url }}" target="_blank"><i class="p-2 las la-link"></i></a>
                {% if site.website_github %}
                <a class="inline-block bg-gray-300 rounded-full" href="{{ site.website_github }}" target="_blank"><i class="p-2 lab la-github"></i></a>
                {% endif %}
                {% if site.website_twitter %}
                <a class="inline-block bg-gray-300 rounded-full" href="{{ site.website_twitter }}" target="_blank"><i class="p-2 lab la-twitter"></i></a>
                {% endif %}
              </div>
              <div class="">
                    {% if site.maker.first_name or site.maker.last_name %}
                    <p class="text-sm text-gray-700 font-semibold">by
                        {% if site.maker.first_name %}{{ site.maker.first_name }}{% endif %}
                        {% if site.maker.last_name %}{{ site.maker.last_name }}{% endif %}
                    </p>
                    {% endif %}
              </div>
          </div>
        </div>
      </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock content %}