{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex flex-col flex-wrap justify-center md:flex-row md:justify-start">
  {% for site in object_list %}
  {% if site.published %}
      <div class="flex flex-col w-full px-3 mb-16 md:w-1/2 lg:w-1/3">
        <a class="flex flex-col flex-1 overflow-hidden no-underline bg-white rounded-lg shadow-lg transition hover:shadow hover:-translateY-sm"
        href="{{ site.website_url }}" target="_blank">
          <img class="object-cover object-left-top h-56 border-b border-gray-300 rounded-t-lg" src="{% get_media_prefix %}{{site.website_homepage_screenshot}}" alt="{{ site.website_title }} | Screenshot">
          <div class="p-4">
            <h2 class="mb-2 text-xl font-semibold text-gray-900">{{ site.website_title }}</h2>
            <p class="leading-normal text-grey-700">{{ site.website_short_description }}</p>
          </div>
        </a>
      </div>
  {% endif %}
  {% endfor %}
</div>

{% load email_signup_form_tag %}
{% get_signup_form %}


{% endblock content %}