{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@builtwithdjango" />
    <title>Built with Django | Jobs</title>
    <meta name="description"
          content="Jobs for people who love to build with Django! We have backend roles, fullstack role... Roles with React, Vue, etc. Once thing remains certain, and that is Django!"/>
    <link rel="canonical" href="https://{{ request.get_host }}/jobs/" />
    <meta property="og:title" content="Built with Django | Jobs" />
    <meta property="og:url" content="https://{{ request.get_host }}/jobs/" />
    <meta property="og:description"
          content="Jobs for people who love to build with Django! We have backend roles, fullstack role... Roles with React, Vue, etc. Once thing remains certain, and that is Django!"/>
    <meta name="twitter:title" content="Built with Django | Jobs" />
    <meta name="twitter:description"
          content="Jobs for people who love to build with Django! We have backend roles, fullstack role... Roles with React, Vue, etc. Once thing remains certain, and that is Django!"/>
    <meta name="twitter:image" content="{% static 'images/logo.png' %}" />
{% endblock %}
{% block content %}
    <div class="my-4 overflow-hidden bg-white rounded-lg shadow">
        <div class="px-4 py-5 sm:p-6">
            <p class="text-3xl font-semibold text-gray-800">
                Django Jobs
            </p>
            <p class="mb-5 text-2xl text-gray-600">
                Subscribe to receive the freshest Django Jobs every week.
            </p>
            <form class="flex flex-row items-center"
                  action="{% url 'newsletter_home' %}"
                  method="post"
                  enctype="multipart/form-data">
                {% csrf_token %} {{ newsletter_form.non_field_errors }}
                <div class="flex flex-row items-center">
                    <div class="flex flex-col">
                        <div class="flex flex-row item-center">
                            <span class="rounded-l-lg">{{ newsletter_form.user_email }}</span>
                            <button class="px-4 py-2 font-bold text-white bg-green-700 rounded-r-lg shadow hover:bg-green-300"
                                    type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <p class="inline-block p-2 text-green-700 bg-green-200 border border-green-700 border-solid rounded ">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="flex justify-start sm:mb-0">
        <a type="button"
           href="{% url 'post_job' %}"
           class="inline-flex items-center px-4 py-2 mb-4 text-base font-medium text-green-700 bg-green-200 border border-transparent border-solid rounded-md hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            Post a Job ($100)
        </a>
    </div>
    {% if object_list %}
        <div class="grid grid-cols-1 gap-4 mb-10 sm:grid-cols-2">
            {% for job in object_list %}
                <div class=" relative flex items-center px-6 py-5 space-x-3 {% if job.paid %} bg-yellow-300 border-yellow-300 hover:bg-yellow-400 hover:border-yellow-400 {% else %} bg-white border-gray-300 hover:bg-gray-100 hover:border-gray-400 {% endif %} border border-solid rounded-lg shadow-sm focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 ">
                    <div class="flex-shrink-0">
                        <img class="w-16 h-16 rounded-full"
                             src="{% get_media_prefix %}{{ job.company.logo }}"
                             alt="{{ job.company }} Logo"/>
                    </div>
                    <div class="flex-1 min-w-0">
                        <a href="{{ job.get_absolute_url }}" class="focus:outline-none">
                            <span class="absolute inset-0" aria-hidden="true"></span>
                            <p class="text-lg font-medium text-gray-900">
                                {{ job.title }}
                            </p>
                            <div class="flex items-center space-x-1">
                                <p class="flex items-center text-sm text-gray-500">
                                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         aria-hidden="true">
                                        <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"/>
                                    </svg>
                                    {{ job.company }}
                                </p>
                                <p class="flex items-center text-sm text-gray-500">
                                    <!-- Heroicon name: solid/location-marker -->
                                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    {{ job.location | truncatechars:15 }}
                                </p>
                            </div>
                            <div class="flex items-center space-x-1">
                                <p class="flex items-center text-sm text-gray-500">
                                    <!-- Heroicon name: solid/location-marker -->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                    posted {{ job.created_datetime|timesince }} ago
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="flex justify-center mx-auto my-10">
            <p class="text-3xl md:text-4xl">
                There are currently no jobs available...
                <span class="font-bold">that we know of</span>
            </p>
        </div>
    {% endif %}
{% endblock content %}
{% block schema %}
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Built with Django Jobs",
    "about": "Job Board",
    "description": "Jobs for people who love to build with Django! We have backend roles, fullstack role... Roles with React, Vue, etc. Once thing remains certain, and that is Django!",
    "abstract": "Jobs for people who love to build with Django! We have backend roles, fullstack role... Roles with React, Vue, etc. Once thing remains certain, and that is Django!",
    "thumbnailUrl": "https://{{ request.get_host }}{% static 'images/logo.png' %}",
    "url": "https://{{ request.get_host }}/jobs/",
    "author": {
      "@type": "Person",
      "givenName": "Rasul",
      "familyName": "Kireev",
      "url": "https://rasulkireev.com/"
    }
  }
    </script>
{% endblock schema %}
