{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block meta %}
    <title>Django Jobs</title>
    <meta name="description" content="Best jobs for best Django Developers!"/>
    <link rel="canonical" href="https://{{ request.get_host }}/jobs/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@builtwithdjango" />
    <meta name="twitter:title" content="Django Jobs" />
    <meta name="twitter:description" content="Best jobs for best Django Developers!"/>
    <meta name="twitter:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
    <meta property="og:title" content="Django Jobs" />
    <meta property="og:url" content="https://{{ request.get_host }}/jobs/" />
    <meta property="og:description" content="Best jobs for best Django Developers!"/>
    <meta property="og:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}

    <div class="px-6 py-20 bg-white sm:py-24 lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Django Jobs</h1>
        <p class="mt-6 text-lg leading-8 prose text-gray-600">Advertize your jobs to the best Django Developers out there.</p>
      </div>
      <div class="flex flex-wrap items-center justify-between mt-8 sm:flex-nowrap">
          <div class="mx-auto">
            <a type="button"
                href="{% url 'post_job' %}"
                class="flex items-center justify-center w-full px-5 py-3 mt-3 text-base font-medium text-white bg-green-500 border border-transparent rounded-md shadow hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-700 focus:ring-white sm:mt-0 sm:ml-3 sm:w-auto sm:flex-shrink-0">
                Post a Job
            </a>
          </div>
      </div>
    </div>

    {% if object_list %}
    <div class="mx-auto lg:py-8">
      <div class="grid items-start grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
        <div class="grid grid-cols-1 gap-4 lg:col-span-4">
          <div class="grid grid-cols-1 border border-gray-200 border-solid rounded-lg shadow lg:col-span-3">
            <ul class="list-none divide-y divide-gray-200">
              {% for job in object_list %}
                  {% include "components/job-item.html" with job=job %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% else %}
        <div class="flex justify-center mx-auto my-10">
            <p class="text-3xl md:text-4xl">
                There are currently no jobs available...
                <span class="font-bold">that we know of</span>
            </p>
        </div>
    {% endif %}

    {% include "components/newsletter.html" with newsletter_form=newsletter_form %}

{% endblock content %}

{% block schema %}
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Django Jobs",
    "about": "Job Board",
    "description": "Best jobs for best Django Developers!",
    "abstract": "Best jobs for best Django Developers!",
    "thumbnailUrl": "https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}",
    "url": "https://{{ request.get_host }}/jobs/",
    "author": {
      "@type": "Person",
      "givenName": "Rasul",
      "familyName": "Kireev",
      "url": "https://rasulkireev.com/"
    }
  }
    </script>
{% endblock schema %}
