{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Built with Django</title>
    <meta name="description" content="Collection of cool projects people built with Django" />
    <link rel="canonical" href="https://{{ request.get_host }}/jobs/thank-you" />
    <meta property="og:title" content="Built with Django" />
    <meta property="og:url" content="https://{{ request.get_host }}/jobs/thank-you" />
    <meta property="og:description" content="Collection of cool projects people built with Django" />
    <meta name="og:image" content="{% static 'images/logo.png' %}" />
    <meta name="twitter:creator" content="@rasulkireev" />
    <meta name="twitter:site" content="@rasulkireev" />
    <meta name="twitter:title" content="Built with Django" />
    <meta name="twitter:description" content="Collection of cool projects people built with Django" />
    <meta name="twitter:image" content="{% static 'images/logo.png' %}" />
{% endblock %}
{% block content %}
    <div class="my-10 prose md:mx-auto lg:prose-xl">
        <h1>Thank you!</h1>
        <p>
            Your job has been added to
            <a href="{% url 'jobs' %}">the directory</a>
            .
        </p>
        <p>
            It will also be featured in this week's newsletter.
        </p>
        <iframe src="https://giphy.com/embed/DhstvI3zZ598Nb1rFf"
                width="480"
                height="400"
                frameBorder="0"
                class="giphy-embed"
                allowFullScreen></iframe>
    </div>
{% endblock content %}
