{% load static %}
{% load markdown_extras %}

<div x-data="{ isShowing: false }" class="overflow-hidden bg-white rounded-md" id="comments-section">
  <div class="flex flex-row items-center space-x-2 border-b border-gray-200 border-solid">
      <h2 class="flex py-4 pl-6 text-2xl font-semibold">
          Comments
      </h2>
      <div>
          <button @click="isShowing=!isShowing" class="inline-block bg-green-500 rounded-full">
              <i class="p-2 text-white las la-plus"></i>
          </button>
      </div>
  </div>
<div>
  {% if user.is_authenticated %}
      <form x-show="isShowing"
            action="{% url object_type object.slug %}"
            method="post"
            class="mx-6 my-2">
          {% csrf_token %}
          {{ comment_form.comment }}
          <button type="submit"
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-600 border border-transparent border-solid rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Post Comment
          </button>
      </form>
  {% else %}
      <div x-show="isShowing" class="mx-6 my-4">
          <p>
              To comment on this project please
              <a href="{% url 'account_signup' %}"
                 class="font-medium text-green-600 hover:text-green-500">
                  signup
              </a>
              or
              <a href="{% url 'account_login' %}"
                 class="font-medium text-green-600 hover:text-green-500">
                  login
              </a>
              .
          </p>
      </div>
  {% endif %}
</div>

<ul class="divide-y divide-gray-200">
  {% for comment in comments %}
      <li class="flex items-start px-6 py-4">
          {% include "components/profile-image.html" with user=comment.author %}
          <div class="ml-3">
              <p class="font-medium">
                  <span class="text-sm text-gray-900">{{ comment.author }}</span>
                  {% if object.maker.user == comment.author %}
                      <span>⭐</span>
                  {% endif %}
                  -
                  <span class="text-sm text-gray-600">{{ comment.created_date|timesince }} ago</span>
              </p>
              <div class="prose">
                  {{ comment | markdown | safe }}
              </div>
          </div>
      </li>
  {% endfor %}
</ul>
</div>
