{% load static %}
{% load humanize %}

<li class="
    relative flex justify-between px-4 py-5 gap-x-6 hover:bg-gray-50 sm:px-6 items-center space-x-3
    {% if job.paid %} bg-yellow-300 border-yellow-300 hover:bg-yellow-400 hover:border-yellow-400
    {% else %} bg-white border-gray-300 hover:bg-gray-100 hover:border-gray-400 {% endif %}
  ">
  <div class="flex-shrink-0">
      {% if job.company.logo %}
      <img class="w-16 h-16 rounded-full"
           src="{% get_media_prefix %}{{ job.company.logo }}"
           alt="{{ job.company.name }} Logo" />
      {% elif job.company_logo %}
      <img class="w-16 h-16 rounded-full"
           src="{{ job.company_logo.build_url }}"
           alt="{{ job.company_name }}" />
      {% endif %}
  </div>
  <div class="flex-1 min-w-0">
      <a href="{{ job.get_absolute_url }}" class="focus:outline-none">
          <span class="absolute inset-0" aria-hidden="true"></span>
          <p class="text-xl font-semibold text-gray-900">
              {{ job.title }}
          </p>
          <div class="flex items-center mb-2 space-x-1">
              <p class="text-lg text-gray-600">
                  {% if job.company.name %}
                    {{ job.company.name }}
                  {% elif job.company_name %}
                    {{ job.company_name }}
                  {% endif %}
              </p>
            </div>
            <div class="flex flex-col justify-between space-y-4 md:space-y-0 md:flex-row">
              <div class="flex flex-col items-start space-y-4 md:space-y-0 md:space-x-4 md:items-center md:flex-row">
                {% if not job.location and not job.min_yearly_salary %}
                <p></p>
                {% endif %}
                {% if job.location %}
                <p class="flex items-center text-sm text-gray-500">
                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                              clip-rule="evenodd"/>
                    </svg>
                    {{ job.location | truncatechars:100 }}
                </p>
                {% endif %}
                {% if job.min_yearly_salary %}
                <p class="flex items-center text-sm text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  {% if job.min_yearly_salary %}{{ job.min_yearly_salary | intcomma }}{% endif %}
                  {% if job.max_yearly_salary %}- {{ job.max_yearly_salary | intcomma }}{% endif %}
                </p>
                {% endif %}
              </div>
              <div class="flex flex-col items-start space-y-4 md:space-y-0 md:space-x-4 md:items-center md:flex-row">
                <p class="flex items-center text-sm text-gray-500">
                    <!-- Heroicon name: solid/location-marker -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    {{ job.submitted_datetime|timesince }} ago
                </p>
              </div>
            </div>
      </a>
  </div>
</li>
