{% if messages %}
<div data-controller="reveal" data-reveal-target="item" class="relative bg-green-600">
  <div class="px-3 py-3 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="pr-16 sm:text-center sm:px-16">
    {% for message in messages %}
      <p class="font-medium text-white">
        <span class="md:hidden"> {{ message }} </span>
        <span class="hidden md:inline"> {{ message }} </span>
      </p>
    {% endfor %}
    </div>
    <div class="absolute inset-y-0 right-0 flex items-start pt-1 pr-1 sm:pt-1 sm:pr-2 sm:items-start">
      <button data-action="click->reveal#hide" type="button" class="flex p-2 rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-white">
        <span class="sr-only">Dismiss</span>
        <!-- Heroicon name: outline/x -->
        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
</div>
{% endif %}
