{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block content %}

<div class="px-6 py-20 bg-white lg:px-8">
<div class="max-w-2xl mx-auto text-center">
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Django Developers</h1>
  <p class="mt-6 text-lg leading-8 prose text-gray-600">Hire the best Django Developers this world has to offer.</p>
  <p class="text-lg leading-8 prose text-gray-600">This page is influnced by <a href="https://masilotti.com">Joe Masilotti's</a> <a href="https://railsdevs.com">RailsDevs.</a></p>
</div>
</div>

<div class="overflow-hidden bg-white border border-gray-300 rounded-md">
<ul role="list" class="divide-y divide-gray-300">
  {% for developer in object_list %}
  <li>
    <a class="flex px-6 py-4 space-x-4 bg-white hover:bg-gray-50 sm:space-x-8" href="{% url 'developer' developer.id %}">
      <div class="flex items-center justify-center shrink-0">{% include "components/profile-image.html" with user=developer.user size=40 %}</div>
      <div class="self-start flex-1 min-w-0 space-y-3">
        <div class="flex items-baseline">
          <h2 class="text-xl font-medium text-gray-900 sm:text-xl line-clamp-2 break-word" title="{{ developer.title }}">{{ developer.title }}</h2>
          <div class="flex-row-reverse items-center hidden ml-auto text-gray-400 sm:inline-flex shrink-0">
              <div class="flex items-center space-x-2">
                {% include "components/developer-status.html" with developer=developer %}
              </div>
          </div>
        </div>
        <div class="flex flex-col items-start space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
          {% comment %} Any special tags {% endcomment %}
        </div>
        <div class="flex items-center justify-between">
          <div class="space-y-4 text-lg text-gray-700 sm:text-base">
            <p class="break-words line-clamp-3">{{ developer.description | truncatechars:400 }}</p>
          </div>
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
</div>

{% endblock content %}
