{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="hidden md:flex md:flex-row md:justify-between">
  <div>
    <div class="max-w-2xl my-4 overflow-hidden bg-white rounded-lg shadow">
      <div class="px-4 py-5 sm:p-6">
        <p class="text-3xl font-semibold text-gray-800">Built with Django Podcast</p>
        <p class="mb-5 text-2xl text-gray-600">Get the latest interviews with best Django developers, as soon as they come out.</p>
        <form class="flex flex-row items-center" action="{% url 'newsletter-home' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ newsletter_form.non_field_errors }}
            <div class="flex flex-row items-center">
              <div class="flex flex-col">
                <div class="flex flex-row item-center">
                  <span class="rounded-l-lg">{{ newsletter_form.user_email }}</span>
                  <button class="px-4 py-2 font-bold text-white bg-green-700 rounded-r-lg shadow hover:bg-green-300" type="submit">Submit</button>
                </div>
              </div>
            </div>
        </form>
        {% if messages %}
          {% for message in messages %}
            <p class="inline-block p-2 text-green-700 bg-green-200 border border-green-700 rounded">{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="space-y-3">
      {% for episode in object_list %}
      <div class="max-w-2xl px-6 py-4 overflow-hidden bg-white rounded-md shadow">
        <p>{{ episode.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <div>

  </div>
</div>



{% endblock content %}
